<template>
  <section id='blog' v-if="ready">
    <header>
      <div class="header-overlay" v-for="(ft, index) in featured" :key="index"
                                  v-bind:style="{ backgroundImage: 'url(' + ft.featured_image.large.substr(0, ft.featured_image.large.lastIndexOf('.')) + '.jpg)' }"
                                  v-bind:class="{change: active==index}"></div>
      <div class="color-over">
          <div class="container blog" >
              <a v-bind:href="featured[active].src">
                  <h1 id="fadeIn" class="heading64" v-bind:class="{hidden: hidden}">
                      <span v-for="(word, i) in splitedText" v-html="word + ' '" :key="i" v-bind:style="{ transitionDelay: (delay+(i*300) + 'ms') }"></span>
                  </h1>
              </a>
              <span class="under-h1">All our team went to this brave step.<br>
                  Read our story</span>

                  <div class="author" >
                      <transition name="author-photo" mode="out-in">
                          <picture class="photo" v-bind:key="active">
                            <img :src="featured[active].author.avatar" alt="">
                          </picture>
                      </transition>
                      <div class="about">
                          <transition name="author-name" mode="out-in">
                              <span class="name" v-bind:key="active">
                                  {{featured[active].author.name}} 
                              </span>
                          </transition>
                          <transition name="author-name" mode="out-in">
                              <span class="role" v-bind:key="active">
                                {{ featured[active].author.description }}
                              </span>
                          </transition>
                      </div>
                  </div>

              <div class="line">
                  <div tabindex="0" class="line-buttons" v-for="(btn, i) in  featured" :key="i" @click="changeSlide(i)" v-bind:class="{ active: active==i}"></div>
              </div>
              <a v-bind:href="'/blog/' + featured[active].slug">
                  <div class="contact-us">
                  <span>Explore</span>
                  <svg class ="circle" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                      <g id="Page-1" stroke="none" fill="none" fill-rule="evenodd">
                          <g id="Blog" transform="translate(-168.000000, -676.000000)">
                              <g id="Group-2" transform="translate(169.000000, 677.000000)">
                                  <circle v-bind:style="{strokeDashoffset: borderOffset}" id="Oval" cx="13" cy="13" r="13"/>
                                      <circle id="Oval2" cx="13" cy="13" r="13"/>
                                      <g id="keyboard-right-arrow-button-copy" transform="translate(13.500000, 13.000000) rotate(-270.000000) translate(-13.500000, -13.000000) translate(9.500000, 10.500000)" fill="#FFFFFF" fill-rule="nonzero">
                                          <polygon id="Shape1" transform="translate(4.500000, 2.500000) rotate(0.000000) translate(-4.000000, -2.500000) " points="2.75675676 -1 2 -0.183333333 4.48648649 2.5 2 5.18333333 2.75675676 6 6 2.5"/>
                                      </g>
                              </g>
                          </g>
                      </g>
                  </svg>
              </div>
              </a>
              <div class="social-wrap">
                  <span class="icon-Monogram"></span>
                  <span class="icon-instagram"></span>
                  <span class="icon-facebook"></span>
                  <span class="icon-twitter"></span>
              </div>
          </div>
      </div>
    </header>
    <div class="blog">
        <h3 class="heading48">Our Last Posts</h3>
        <div class="blog-grid">
            <a :href="'/blog/' + post.slug" class="blog-container" v-for="(post, i) in posts" :key="i" :class="'type__' + (i+1)">
                <picture class="image-container">
                    <img :src="post.featured_image.large" alt="">
                </picture>

                <div class="content-container">
                    <span class="date">{{post.date}}</span>
                    <span class="heading">{{post.title}}</span>
                        <div class="more-group">
                            <span class="more-src">read more</span>
                            <div class="shape">
                                <div class="line">
                                    <div class="box">
                                    </div>
                                </div>
                            </div>
                        </div>

                </div>
            </a>

            <div class="blog-container type__subscribe call-action" >
                <div class="content-container">
                    <span class="heading">Want more news?</span>
                    <div class="more-group">
                        <span class="more-src">subscribe</span>
                        <div class="shape">
                            <div class="line">
                                <div class="box">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a href="/contact" class="blog-container type__contact call-action">
                <div class="content-container">
                    <span class="heading">How to Contact Us?</span>
                    <div class="more-group">
                        <span class="more-src">get in touch</span>
                        <div class="shape">
                            <div class="line">
                                <div class="box">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="pop-up-overlay">
      <div class="subscribe-pop">
        <div class="heading44">Subscribe to our newsletter</div>
        <div class="newsletter">
          <div class="input-container">
              <input ref="phone" class="int-input phone" maxlength="30" value="" type="text" required name="phone">
            <span class="input-about">Your E-mail</span>
            <svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
                <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
            </svg>
          </div>     
        </div>

      </div>
    </div>
    <footerComponent v-bind:type="false"></footerComponent> 
    <stickyCircle/>
  </section>
</template>
<script>
import footerComponent from '@/components/footerComponent'
import stickyCircle from '@/components/stickyCircle'

export default {
  components:{
    footerComponent,stickyCircle
  },
  data(){
    return{
      ready: false,
      request:{
        type: 'page',
        slug: 'blog',
        showLoading: true
      },
      monthNames: [
        "January", "February", "March",
        "April", "May", "June", "July",
        "August", "September", "October",
        "November", "December"
      ],
      active: 0,
      hidden: true,
      delay: 600,
      timeout: 100,
      borderOffset: 18,
      timer: '',
    }
  },
  computed:{
    page() {
      return this.$store.getters.singleBySlug(this.request)
    },
    posts(){
      const filter = Object.values(this.$store.getters.collectionByType({type: 'post'})).filter((post) =>{
          return post.categories[0] == 1 || post.categories[0] == 19
      })
      return filter;
    },
    featured(){
      const filter = Object.values(this.$store.getters.collectionByType({type: 'post'})).filter((post) =>{
          return post.categories[0] == 19 || post.categories[1] == 19
      })
      return filter;
    },
    splitedText(){
      return this.featured[this.active].title.split(" ");
    },
    time(){
      return this.delay + ((this.splitedText.length-1) * 300)
    }
  },
  methods:{
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getSingleBySlug', this.request),
          this.$store.dispatch('getItems', { type: 'services'}),
          this.$store.dispatch('getItems', { type: 'post'})
        ]
      ).then(() =>{
        this.ready = true;
        this.formatDate();
        this.fadeIn();

        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')

      })
    },
    fadeIn(){
        setTimeout(() => {
            this.hidden = false;
            this.startTimerAppearance();
        }, this.timeout);
    },
    changeSlide(i){
        if(i !== this.active){
            clearInterval(this.timer);
            this.borderOffset = 17;
            this.hidden = true;
            this.active = i;
            this.fadeIn();
        }
    },
    startTimerAppearance() {
        this.timer = setInterval(()=>{
            if(this.borderOffset<=100){
                //console.log(this.borderOffset);
                this.borderOffset = this.borderOffset + 1;
            }else{
                clearInterval(this.timer);
                this.startTimerCooldown();
            }

        }, this.time/72);
    },
    startTimerCooldown(){
        this.timer = setInterval(()=>{
            if(this.borderOffset >= 18){
                this.borderOffset = this.borderOffset - 1;
            }else{
                clearInterval(this.timer);
                if(this.featured.length == this.active + 1){
                    this.changeSlide(0);
                }else{
                    this.changeSlide(this.active+1);
                }

            }

        }, 5000/72);
    },
    formatDate(){
			this.posts.forEach(post => {
				let date = new Date(post.date);
				let formated= date.getDate() + ' ' + this.monthNames[date.getMonth()] + ', ' + date.getFullYear();
				post.date = formated;
      });
    }
  },
  created(){
    this.getPage();
  },
}
</script>
<style lang="scss" scoped>

$Oranienbaum: 'Oranienbaum', serif;
header{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: left;
    background-color: rgba(15, 18, 22, 0.5);
    background-size: cover;
    .container {
      margin: 0 auto;
      padding: 0 10vw;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      bottom: 88px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      font-size: 0;
      background-size: cover;
      *{
        z-index: 11;
        position: relative;
      }
      &.blog{
        h1{
          padding-bottom: 18px;
        }
        .under-h1{
          float: left;
        }
      }
    }
    h1{
      span{
        transition: 1s;
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
      }
      &.hidden{
        span{
          transition-delay: 0s !important;
          transition: 0s;
          opacity: 0;
          filter: blur(3px);
          -webkit-filter: blur(3px);
        }
      }
    }
    .under-h1 {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 19px;
      letter-spacing: normal;
      display: block;
      padding-top: 10px;
      text-align: left;
      color: #ffffff;

    }
    .line{
      padding-top: 82px;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
      font-size: 0;
      margin-bottom: 58px;
      .line-buttons{
        width: 64px;
        height: 40px;
        display: inline-block;
        margin-bottom: -1px;
        position: relative;
        cursor: pointer;
        &:hover{
          &:before{
            height: 6px;
          }
        }
        &:before{
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          transition: 0.6s;
          width: 100%;
          height: 4px;
          background-color: #ffffff;
          opacity: 0.3;
        }
        &.active{
          &:before{
            opacity: 1;
            height: 6px;
          }
        }

      }
    }
    .contact-us{
      float: left;
      font-size: 0;
      padding: 10px 28px 10px 0;
      span{
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.9;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        padding-right:17px;
        display: block;
      }
      svg{
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: 2px;
        #Oval{
          stroke: #ffffff;
          opacity:1;
          stroke-dasharray:100;
          stroke-dashoffset: 100;
          /*animation: drawCircle 1s infinite ease-in;
          animation-delay: 1.2s;*/
          stroke-width:2;
        }
        #Oval2{
          stroke: #ffffff;
          opacity:0.38;
          stroke-width:1.3;

        }
        #Shape1{
          fill: #ffffff;
        }
      }
    }
    .social-wrap{
      float:right;
      a{
        svg{
          height: 12px;
          width: auto;
        }
      }
    }
    .video-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      text-align: center;
      overflow: hidden;
      video{
        object-fit: cover;
      }
    }
    .header-overlay{
      transition: 2s;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: #0f1216bf;
      opacity: 0;
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      &.change{
        opacity: 0.7;
        z-index: 10;
      }

    }
    .color-over{
      background-color: #0f121699;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
.blog{
    padding: 107px 0 0 0;
    margin: 0 auto;
    .blog-grid{
        padding-top: 67px;
        font-size: 0;
        display: grid;
        grid-template-columns: 25%;
        grid-auto-rows: minmax(244px, auto);
        box-sizing: border-box;
        .blog-container{
            overflow: hidden;
            box-sizing: border-box;
            display: grid;
            position: relative;
            background-size: cover;
            background-position: center;
            background-color: #0f1216;

          &:before{
            content: "";
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0;
          }
          .image-container{
            position: absolute;
            left:0;
            top:0;
            transition: 1s;
            background-size: cover;
            height: 100%;
            width: 100%;
            opacity: 0.8;
            background-position: center;
						img{
							width: 100%;
							height: 100%;
							object-fit: cover;
							object-position: center
						}
          }
          &.type {
                &__1 {
                    grid-column: 1 / 3;
                    grid-row: 1 / 3;
                }
                &__2 {
                    grid-column: 3 / 5;
                    grid-row: 1;
                }
                &_subscribe {
                    grid-column: 3;
                    grid-row: 2;
                }
                &__3 {
                    grid-column: 4;
                    grid-row: 2 / 5;
                }
                &__4 {
                    grid-column: 1;
                    grid-row: 3 /5;
                }
                &__5 {
                    grid-column: 2 / 4;
                    grid-row: 3 / 5;
                }
                &__6 {
                    grid-column: 1 / 3;
                    grid-row: 5;
                }
                &__7 {
                    grid-column: 3;
                    grid-row: 5 / 8;
                }
                &__contact {
                    grid-column: 4;
                    grid-row: 5;
                }
                &__8 {
                    grid-column: 1 / 3;
                    grid-row: 6/8;
                }
                &__9 {
                    grid-column: 4;
                    grid-row: 6/8;
                }
            }
          .content-container{
            position: absolute;
            top:50%;
            left: 0;
            right: 0;
            transform:translateY(-50%);
            text-align: center;
            background-position: center;
            padding: 0 40px;
            *{
              z-index:10;
              color: #ffffff;
            }

            span{
              display:block;
            }
            .date{
              font-size: 11px;
              font-weight: 500;
              line-height: 25px;
              letter-spacing: 2px;
              text-align: center;
              color: #bbac87;
            }
            .heading{
              font-family: $Oranienbaum;
              font-size: 36px;
              line-height: 42px;
              text-align: center;
              padding: 7px 0 30px 0;
            }
            .more-group{
              padding-top: 0;
            }
            .more-src{
              color:#fff;
            }
          }
          &.call-action{
            background-color: #ffffff;
            color: #0f1216;
            *{
              color: #0f1216;
            }
            .date{
              display: none;
            }
            .more-src{
              color:#0f1216;
            }
            &:before{
              display:none;
            }

         }
          &:hover{
            .image-container{
              transform: scale(1.05);
              opacity: 1;
            }
            .content-container{
              .more-group{
                .box {
                  width: 40px;
                }
              }
            }
          }
        }
    }
}
.subscribe-pop{
    z-index: 10;
    padding: 31px 50px 35px 50px;
    box-sizing: border-box;
    width: 800px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    .newsletter{
      display:flex;
      margin-top:50px;
      .input-container{
        margin: 0 20px;
      }
    }
}
.author-photo-enter-active, .author-photo-leave-active {
  transition: .5s;
  transition-delay: .5s;
}
.author-photo-enter, .author-photo-leave-to {
  opacity: 0;
  transform: translateY(10px);
}
.author-name-enter-active, .author-name-leave-active {
  transition: 1s ease-in-out;
}
.author-name-enter, .author-name-leave-to {
  transform: translateX(-200px);
  filter: blur(3px);
}
@media only screen and (max-width: 1100px) {
  $margin: calc(100vw / 320 * 20);
  .blog{
    padding-top: calc(100vw / 320 * 50);

    .blog-grid{
      padding-top: 30px;
      grid-template-columns: 100%;
      grid-auto-rows: minmax(calc(100vw / 320 * 244), auto);
      .blog-container{
        box-sizing: border-box;
        align-items: center;
        &.type {
          &__1 {
            grid-column: 1 ;
            grid-row:1/3;
          }
          &__2 {
            grid-column: 1;
            grid-row: 9;
          }
          &_subscribe {
            grid-column: 1;
            grid-row: 6;
          }
          &__3 {
            grid-column: 1;
            grid-row: 3/6;
          }
          &__4 {
            grid-column: 1;
            grid-row: 7/9;
          }
          &__5 {
            grid-column: 1;
            grid-row: 10/12;
          }
          &__6 {
            grid-column: 1;
            grid-row: 13;
          }
          &__7 {
            grid-column: 1;
            grid-row: 5 / 8;
            display: none;
          }
          &__contact {
            grid-column: 1;
            grid-row: 12;
          }
          &__8 {
            grid-column: 1;
            grid-row: 14/16;
          }
          &__9 {
            grid-column: 1;
            grid-row: 6/8;
            display: none;
          }
        }
        .content-container{
          padding: calc(100vw / 320 * 40) $margin;
          position: relative;
          top: auto;
          left: auto;
          transform: none;
          .date{
            font-size:calc(100vw / 320 *11);
            line-height: calc(100vw / 320 * 25);
            letter-spacing: calc(100vw / 320 * 2);
          }
          .heading{
            font-size:calc(100vw / 320 *36);
            line-height: calc(100vw / 320 * 36);
          }
          .more-group{
            .more-src{
              font-size:calc(100vw / 320 *14);
              line-height: calc(100vw / 320 * 14);
              letter-spacing: calc(100vw / 320 * 4);
              margin-bottom: calc(100vw / 320 * 5);
            }
          }
        }
      }
    }
  }
  header{
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
    .container{
      h1{
        font-size: calc(100vw / 320 * 36);
        width: 100% !important;
        line-height: calc(100vw / 320 * 40);
        br{
          display:none;
        }
      }
      .under-h1{
        font-size: calc(100vw / 320 * 12);
        line-height: calc(100vw / 320 * 19);
      }
      &.blog{
        position: absolute;
        bottom: 0;
        left: auto;
        transform: none;
        padding: 137px $margin 47px $margin;
        
        .under-h1{
          float: none;
        }
        .author{
          float: none;
          text-align: left;
          padding-top: calc(100vw / 320 * 25);
          .about {
            vertical-align: center;
            .name{
              text-transform: capitalize;
              font-size:12px;
              line-height: 19px;
            }
            .role{
              font-size:9px;
              line-height: 13px;
            }
          }
        }
        .line{
          margin: 0 0 calc(100vw / 320 * 25) 0;
          padding: 0;
          font-size: 0;
          .line-buttons{
            width: 25%;

          }
        }
      }
    }
  }
}
@media only screen and (max-width:1200px) and (min-width: 1101px) { 
  .blog .blog-grid {
    grid-auto-rows: minmax(210px, auto);
  }
}
@media only screen and (max-width:1250px) and (min-width: 1101px) {
  .blog .blog-grid .blog-container .content-container .heading{
    font-size: 30px;
    line-height: 36px;
  }
}
</style>
