<template>
	<div id="form-page">
		<div class="pop-up-overlay" v-bind:class="{active: modal}">
			<div class="pop-window">
					<div class="close-x" @click="modal=false"><div></div> <div></div></div>
					<div class="heading44">Choose the messager to contact.</div>
					<a href="https://wa.me/4407447913838" target="_blank">
						<button class="whats-app gradient_blue">
							<whatsapp/>
							Whatsapp
						</button>
					</a>
					<a href="http://m.me/inshadowagency" target="_blank">
						<button class="messager gradient_blue">
							<messager/>
							Facebook
						</button>
					</a>
					<div class="lock">
						<padlock/>
						You will be redirected to the official messager apps or web versions.
					</div>
			</div>
		</div>
		<div class="form-container" v-bind:class="{ ready: ready}">
			<div class="form-info">
					<span class="heading">Make step <br>forward<span>.</span></span>
					<div class="contacts">
						<div class="container">
							<telephone/>
							<span class="contacts-info">+371 29799476</span>
							<span class="country">Latvia</span>
						</div>
						<div class="container">
							<telephone/>
							<span class="contacts-info">+44 (0) 7447913838</span>
							<span class="country">United Kingdom</span>
						</div>
						<div class="container">
							<mail/>
							<span class="contacts-info">hello@inshadow.agency</span>
						</div>
					</div>
					<hr>
					<div class="social-wrap">
						<a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener" name='medium'>
							<medium/>
						</a>
						<a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
							<instagram/>
						</a>
						<a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener" name='facebook'>
							<facebook/>
						</a>
						<a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener" name='twitter'>
							<twitter/>
						</a>
					</div>
			</div>
			<div class="form-full" >
					<span class="pre-form">Fill out the form below or <span @click="modal=true" style="cursor: pointer;">Contact via Messager</span></span>
					<form id="form" @submit.prevent="checkForm()" novalidate>
						<div class="left">
							<div class="input-container">
									<input ref="name" v-on:blur="loseFocus($refs.name)" class="int-input name" maxlength="60" value="" type="text" required name="name" v-model="formDetails.name" v-bind:class="{full: formDetails.name!=''}">
									<span class="input-about">Name<span> *</span><span class="error">Please enter your name</span> </span>
									<svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
										<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
									</svg>
							</div>
							<div class="input-container">
									<input v-on:blur="loseFocus($refs.email)" ref="email" class="int-input email" maxlength="60" value="" type="email" required name="email" v-model="formDetails.email" v-bind:class="{full: formDetails.email!=''}">
									<span class="input-about">Email<span> *</span> <span class="error">Please check email format</span></span>
									<svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
										<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
									</svg>
							</div>
						</div>
						<div class="right">
							<div class="input-container">
									<input ref="company" class="int-input company" maxlength="60" value="" type="text" name="company" v-model="formDetails.company" v-bind:class="{full: formDetails.company!=''}">
									<span class="input-about">Company name</span>
									<svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
										<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
									</svg>
							</div>
							<div class="input-container">
									<input ref="phone" v-on:blur="loseFocus($refs.phone)" class="int-input phone" maxlength="30" value="" type="text" required name="phone" v-model="formDetails.phone" v-bind:class="{full: formDetails.phone!=''}">
									<span class="input-about">Phone<span> *</span><span class="error">Please check your phone number</span></span>
									<svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
										<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
									</svg>
							</div>
						</div>
						<div class="input-container">
							<textarea ref="text" class="int-input text" type="text" maxlength="800" required name="text" v-model="formDetails.details" v-bind:class="{full: formDetails.details!=''}"></textarea>
							<span class="input-about">Project Details</span>
							<svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
									<path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
							</svg>

						</div>
						<button class="gradient_blue submit-form" type="submit">CONTACT NOW</button>
					</form>
			</div>
		</div>
		<div class="thank-you" v-bind:class="{ ty: ty}">
			<div class="heading44">Thank you for your request.</div>
			<div class="under">We will contact with you as soon as possible</div>
			<a href="/">
					<button class="gradient_blue" style="box-shadow: 0 10px 23px -11px rgba(74, 144, 226, 0.66);">BACK TO HOMEPAGE</button>
			</a>

		</div>
	</div>
</template>
<script>
import padlock from '@/assets/svg/padlock.svg'
import telephone from '@/assets/svg/telephone.svg'
import messager from '@/assets/svg/messager.svg'
import whatsapp from '@/assets/svg/whatsapp.svg'
import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'
import mail from '@/assets/svg/email.svg'
import axios from 'axios';
export default {
	components:{
		padlock,
		telephone,
		messager,
		whatsapp,
		facebook,
		instagram,
		medium,
		twitter,
		mail  
  },
  data(){
		return{
			page: 'contact',
			ready: false,
			modal: false,
			ty: false,
			sending: false,
			formDetails:{
					name: '',
					email: '',
					company: '',
					phone: '',
					details: ''
			}
		}     
  },
  computed:{
    formPhone(){
        return this.formDetails['phone'];
    }
	},
	watch:{
			formPhone: function (val) {
					if(this.formDetails['phone'].charAt(0) != '+' && this.formDetails['phone'].length > 0){
							this.formDetails['phone'] = '+' + this.formDetails['phone'];
					}
			}
	},
	methods:{
		loseFocus(el){
			el.closest('.input-container').classList.remove('error');
		},
		checkForm(){
				let errors = false;
				let emailPattern = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/;
				if (this.formDetails['email'].match(emailPattern)) {
						console.log('email match')
				} else {
						errors= true
						this.$refs.email.closest('.input-container').classList.add('error');
				}
				if(this.formDetails['name'] != ''){
						console.log('name match')
				}else{
						errors= true
						this.$refs.name.closest('.input-container').classList.add('error');
				}
				if(this.formDetails['phone'] != '' && this.formDetails['phone'].length>=7){
						console.log('phone match')
				}else{
						errors= true
						this.$refs.phone.closest('.input-container').classList.add('error');
				}
				if(!errors && !this.sending){
						this.sending = true;
						this.submitForm();
				}
		},
		async submitForm(){
			let params = {
					name: this.formDetails.name,
					email: this.formDetails.email,
					phone: this.formDetails.phone,
					company: this.formDetails.company,
					details: this.formDetails.details			
			}
			let form_data = new FormData;
			form_data.append('action', 'contact_form');
			form_data.append('name', this.formDetails.name);
			form_data.append('email', this.formDetails.email);
			form_data.append('phone', this.formDetails.phone);
			form_data.append('company', this.formDetails.company);
			form_data.append('details', this.formDetails.details);

			await axios.post('/wp-admin/admin-ajax.php', form_data).then(res =>{
					this.formDetails.name = "";
					this.formDetails.email = "";
					this.formDetails.message = "";
					this.ty = true
					this.ready = false;
				}).catch(function (error) {
			});
		},
	},
	mounted(){
      setTimeout(() => {
      	this.ready = true;
      }, 100);
	}
}
</script>
<style lang="scss">
 $Oranienbaum: 'Oranienbaum', serif;
 .heading44{
	 font-family: $Oranienbaum
 }
.pop-up-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #0f1216e0;
	z-index: -999999999;
	opacity: 0;
	top: 0;
	left: 0;
	.close-x{
		width: 25px;
		height: 25px;
		position: absolute;
		cursor: pointer;
		transform: translatey(-50%);
		right: 13px;
		top: 25px;
		&:hover{
			div{
				background-color: #686867;

			}
		}
		div{
			transition: 0.3s;
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background-color: #c1c1c1;
			position: absolute;
			top: 12px;
			left: 0;
			&:first-of-type{
				transform: rotate(-45deg) ;
			}
			&:last-of-type{
				transform: rotate(45deg);
			}
		}
	}
	&.active{
		opacity: 1;
		z-index: 999999999;
	}
	.pop-window{
		z-index: 10;
			padding: 31px 50px 35px 50px;
			box-sizing: border-box;
			width: 349px;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);
			position: absolute;
			left: 50%; top:50%;
			transform: translate(-50%, -50%);
			.heading{
					font-family: $Oranienbaum;
					display:block;
					font-size: 24px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 2.17;
					letter-spacing: normal;
					text-align: center;
					color: #0f1216;

			}
		.file_upload{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
			button{
				display: inline-block;
				padding: 0 35px;
				height: 30px;
				background-color: #4a90e2;
				color: #fff;
				border-radius: 3px;
				font-weight: 500;
				font-size: 12px;
			}
			div{
				font-size: 12px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.92;
				letter-spacing: normal;
				text-align: left;
				color: #0f1216;
				display: inline-block;
				padding-left:5px;
			}
			input{
				visibility: hidden;
				position: absolute;
			}
		}
	}
	.hide{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
#form-page{
	width: 100vw;
	height: 100vh;
	position: relative;
	.menu{
		margin: 0 53px;
		text-align: center;
		position: absolute;
		top: 30px;
		left: 0;
		right: 0;
		.gt-hp{
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			svg{
				transform: rotate(180deg);
				height: 10px;
				color: #9b8755;
				display: inline-block;
				line-height: 12px;
			}
			.back-hp{
				font-size: 12px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.92;
				letter-spacing: normal;
				text-align: center;
				color: #0f1216;
				padding-left: 15px;
				display:inline-block;
			}
		}
		.icon-inshadow1{
			&:before{
			font-size: 42px;
			}
		}
	}
	.form-container{
		position:absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 1024px;
		font-size: 0;
		.form-info{
			float: left;
			opacity: 0;
			width: 35%;
			transform:translateY(-20px);
			transition: 0.5s ease-in;
			transition-delay: 200ms;
			.heading {
			font-family: $Oranienbaum;
			font-size: 80px;
			font-weight: 400;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.03;
			letter-spacing: normal;
			color: #0f1216;
			display: block;
			padding-bottom: 34px;
			span{
				color:#4a90e2;
			}
			}
			.contacts{
				padding-bottom: 25px;
				.container{
					svg{
						width: 15px;
						height: auto;
						color: #0f1216;
					}
					.contacts-info{
					font-size: 15px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					letter-spacing: normal;
					color: #0f1216;
					padding-left:15px;
					line-height: 45px;
					}
					.country{
					vertical-align: top;
					font-size: 13px;
					font-weight: 500;
					font-style: normal;
					font-stretch: normal;
					line-height: 45px;
					color: #909090;
					padding-left: 36px;
					position: relative;
					&:before{
						content: "";
						position: absolute;
						left: 16px;
						top: 0;
						width: 9px;
						height: 50%;
						border-bottom: 1px solid #9b8755;
						overflow: hidden;
					}
					}
				}

			}
			hr{
			padding: 0;
			width: 75px;
			height: 1px;
			border:none;
			background-color:#4a90e2;
			margin: 0 0 40px 0;
			}
			.social-wrap{
			float: none;
			svg{
				cursor: pointer;
				fill: #535353;
				padding-right:22px;
				display: inline-block;
				&:first-of-type{
					padding-left:0;
				}
				&:before{
					color: #535353;
				}
			}
			}
		}
		.form-full{
			opacity: 0;
			float: left;
			padding-left: 100px ;
			box-sizing: border-box;
			width: 65%;
			transform:translateY(20px);
			transition: 0.5s ease-in;
			transition-delay: 400ms;
			.pre-form{
				padding-top: 7px;
				font-family: $Oranienbaum;
				font-size: 24px;
				font-weight: 400;
				font-style: normal;
				font-stretch: normal;
				letter-spacing: normal;
				color: #0f1216;
				padding-bottom: 30px;
				display: block;
			span {
				color: #4a90e2;
				cursor:pointer;
			}
			}
			form{
			font-size: 0;
			.left,.right{
				width: 50%;
				display: inline-block;
				box-sizing: border-box;
			}
			.left{
				padding-right: 15px;
			}
			.right{
				padding-left: 15px;
			}

			button {
				float: right;
				margin-top: calc(100vh / 638 * 30);
			}
			}
		}
		&.ready{
			.form-info,.form-full{
			transform:translateY(0);
			opacity: 1;
			}
		}
	}

	.pop-up-overlay{
		.pop-window{
			padding: 50px 70px;
			width: 710px;
			text-align: center;
			.heading{
			font-size: 40px;
			line-height: 60px;
			}
			a{
			button{
				margin: 30px 0;
				display: inline-block;
				font-size: 14px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: normal;
				letter-spacing: normal;
				color: #ffffff;
				text-transform: none;
			}
			.messager{
				background-color: #3b5998;
				svg{
					vertical-align: bottom;
					margin-right: 10px;

				}
			}
			.whats-app{
				background-color: #25d366;
				margin-right: 20px;
				svg{
					vertical-align: bottom;
					margin-right: 10px;
				}
			}
			}
			.lock{
			font-size: 12px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			color: #cecece;
			display: flex;
			align-items: center;
			justify-content: center;
			svg{
				margin-right: 10px;
			}
			}
		}
	}
	.thank-you{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, - 50%);
		text-align: center;
		z-index: -99;
		opacity: 0;
		transition: 1s;
		transition-delay: 1s;
		&.ty{
			z-index: 99;
			opacity: 1;
		}
		.under{
			font-size: 14px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 22px;
			letter-spacing: normal;
			text-align: center;
			color: #0f1216;
			margin: 5px 0 20px 0;
		}
	}
}
@media only screen and (max-width: 1100px) {
  $margin: calc(100vw / 320 * 20);
	#form-page{
		padding-top: calc(100vw / 320 *90);
		height: auto;
		.sticky-menu{
			.mobile{
			display: block;
			}
		}
		.menu{
			display: none;
		}
		.form-container{
			width: auto;
			margin: 0 $margin;
			position: relative;
			top: auto;
			left: auto;
			transform: none;
			.form-info{
			display: none;
			}
			.form-full{
			float: none;
			padding:0;
			width: 100%;
			.pre-form{
				font-size:calc(100vw / 320 *24);
				line-height: calc(100vw / 320 * 30);
				padding: 0;

			}
			form{
				.left,
				.right{
					width: 100%;
					display:block;
					padding: 0;
				}
				.input-container{
					padding: calc(100vw / 320 * 52) 0 0 0;
					margin-bottom: 0;
					input{
					height: calc(100vw / 320 * 28);
					margin: 0;
					}
					span{
					top: calc(100vw / 320 * 52);
					}
					textarea{
					height:calc(100vw / 320 * 150);
					margin: 0;
					box-sizing: border-box;
					}
					.input-about {
					font-size: calc(100vw / 320 * 12);
					line-height: calc(100vw / 320 * 23);
					}

				}
				button{
					float: none;
					margin-top: 30px;
					font-size: calc(100vw / 320 * 14);

				}
			}
			.gradient_blue{
				margin: calc(100vw / 320 *40) 0;
			}
			}

		}
  }
			.thank-you{
			width: calc(100vw / 320* 300);
			padding: calc(100vw / 320* 30) calc(100vw / 320* 20);
			box-sizing: border-box;
			.heading44{
				font-size: calc(100vw / 320 * 23);
				line-height: calc(100vw / 320 *30);
			}
			.under{
				font-size: calc(100vw / 320 * 13);
				line-height: calc(100vw / 320 * 20);
			}
		}
}
@media only screen and (max-width: 750px){
	$margin: calc(100vw / 320 * 20);
	#form-page{
		.pop-up-overlay{
			.pop-window{
			margin: 0 auto;
			width: calc(100vw / 320 * 300);
			padding: calc(100vw / 320 * 30) calc(100vw / 320 * 20);
			height: auto;
			position: absolute;
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			a{
				button{
					margin: calc(100vw / 320 * 10) 0;
					font-size: calc(100vw / 320 * 14);
					svg{
					height: calc(100vw / 320 * 20);
					width: auto;
					}

				}
				.whats-app{
					margin-top: calc(100vw / 320 * 20);
					margin-right: 0;
				}
			}
			.under{
				font-size: calc(100vw / 320 * 12);
				svg{
					height: calc(100vw / 320 * 15);
					width: auto;
				}
			}
			}
		}
  }
}
</style>

