<template>
  <section class="home" v-if="ready">
    <header >
        <div class="container home">
            <h1 id="fadeIn" class="heading64" v-bind:class="{hidden: hidden}">
                <span v-for="(word, i) in splitedText" v-html="word" :key='i' v-bind:style="{ transitionDelay: (delay+(i*300) + 'ms') }"></span>
            </h1>

            <span class="under-h1" v-html="fields.header_small_text"></span>
            <a href="/contact/"><button class="header-email-button gradient_blue">
                {{fields.header_button_next}}
                </button></a>
            <div class="line">
                <div class="line-buttons" v-for="(btn, i) in  fields.header_text" :key='i' @click="changeSlide(i)" v-bind:class="{ active: active==i}"></div>
            </div>
            <a href="" data-text="<?php echo $permalinks;?>">
                <div class="contact-us">
                    <span>Explore</span>
                    <svg class ="circle" width="28px" height="28px" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                        <g id="Page-1" stroke="none" fill="none" fill-rule="evenodd">
                            <g id="Blog" transform="translate(-168.000000, -676.000000)">
                                <g id="Group-2" transform="translate(169.000000, 677.000000)">
                                    <circle v-bind:style="{strokeDashoffset: borderOffset}" id="Oval" cx="13" cy="13" r="13"/>
                                    <circle id="Oval2" cx="13" cy="13" r="13"/>
                                    <g id="keyboard-right-arrow-button-copy" transform="translate(13.500000, 13.000000) rotate(-270.000000) translate(-13.500000, -13.000000) translate(9.500000, 10.500000)" fill="#FFFFFF" fill-rule="nonzero">
                                        <polygon id="Shape1" transform="translate(4.500000, 2.500000) rotate(0.000000) translate(-4.000000, -2.500000) " points="2.75675676 -1 2 -0.183333333 4.48648649 2.5 2 5.18333333 2.75675676 6 6 2.5"/>
                                    </g>
                                </g>
                            </g>
                        </g>
                    </svg>
                </div>
            </a>
            <div class="social-wrap">
                <a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener" name='medium'>
                    <medium/>
                </a>
                <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
                  <instagram/>
                </a>
                <a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener" name='facebook'>
                    <facebook/>
                </a>
                <a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener" name='twitter'>
                    <twitter/>
                </a>
            </div>
            <div class="mouse-wrap">
                <div class="mouse"><div class="frame">
                    <svg version="1.1" id="mouse" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 54.9 91" xml:space="preserve">
                        <path id="XMLID_173_" linejoin="round" stroke-linecap="round" stroke-miterlimit="10" d="M27.4,3.6L27.4,3.6C14.2,3.6,3.5,14.3,3.5,27.5v36c0,13.2,10.7,23.9,23.9,23.9h0 c13.2,0,23.9-10.7,23.9-23.9v-36C51.4,14.3,40.7,3.6,27.4,3.6z" class="st0">
                        </path>
                    </svg>
                </div>
                <div class="mouse-left">
                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.4 91" xml:space="preserve">
                        <path linejoin="round" stroke-linecap="round" stroke-miterlimit="10" d="M27.4,87.5L27.4,87.5c-13.2,0-23.9-10.7-23.9-23.9v-36c0-13.2,10.7-23.9,23.9-23.9h0" class="Draw-Frame Animate-Draw">  
                        </path>
                    </svg>
                </div>
                <div class="mouse-right">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 27.4 91" xml:space="preserve">
                        <path linejoin="round" stroke-linecap="round" stroke-miterlimit="10" d="M0,3.6L0,3.6c13.2,0,23.9,10.7,23.9,23.9v36c0,13.2-10.7,23.9-23.9,23.9h0" class="Draw-Frame Animate-Draw">
                        </path>
                    </svg>
                </div>
            </div>
        </div>
        </div>
        <div class="video-bg">
            <video id="my-video" class="video" autoplay muted loop>
                <source :src="dir + '/media/main.mp4'" type="video/mp4" />
            </video>
        </div>

    </header>
    <div class="block_2">
        <h2 class="about-heading heading36" v-html="fields.about_us_heading"></h2>
        <span class="about-text">{{ fields.abouts_us_text }}</span>
        <a href="/about/">
            <button class="gradient_blue">{{ fields.about_us_button_text }}</button>
        </a>
    </div>
    <servicesComponent v-if="services"
                       v-bind:services='services'
                       v-bind:services_heading="fields.services_heading"
                       v-bind:services_end_button_text='fields.services_end_button_text'
                       v-bind:services_end_sub_question='fields.services_end_sub_question'
                       v-bind:services_end_question="fields.services_end_question"></servicesComponent>
    <div class="block_5" v-for='i in 1' :key='i'>
        <div class="team-grid">
            <div class="team-grid-container" >
                <div class="container scale2x hoverable" ref='observerItem'>
                    <picture>
                      <source :srcset="dir + '/images/team/team1.webp'" type='image/webp'>
                      <source :srcset="dir + '/images/team/team1.jpg'" type='image/jpeg'>
                      <img :src="dir + '/images/team/team1b.jpg'" alt='Team Image'>
                    </picture>
                </div>
                <div class="container" ref='observerItem'>
                    <div class="text-block">
                        <h3 class="heading48">{{ fields.team_heading }}</h3>
                        <span class="team-text small-text-classic" v-html="fields.team_text"></span>
                    </div>
                </div>
                <div class="container hoverable" ref='observerItem'>
                    <picture>
                      <source :srcset="dir + '/images/team/team4.webp'" type='image/webp'>
                      <source :srcset="dir + '/images/team/team4.jpg'" type='image/jpeg'>
                      <img :src="dir + '/images/team/team4.jpg'" alt='Team'>
                    </picture>
                </div>

            </div>
            <div class="team-grid-container">
                <div class="container  hoverable" ref='observerItem'>
                    <picture>
                      <source :srcset="dir + '/images/team/team2.webp'" type='image/webp'>
                      <source :srcset="dir + '/images/team/team2.jpg'" type='image/jpeg'>
                      <img :src="dir + '/images/team/team2.jpg'" alt='Team'>
                    </picture>
                </div>
                <div class="container" ref='observerItem'>
                        <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
                            <div class="instagram-image">
                                <img :src="fields.instagram_image.url" alt='Instagram'>
                                <picture>
                                  <img :src="fields.instagram_image.url" alt='Instagram'>
                                </picture>
                                <div class="overlay">
                                    <div class="hover">
                                      <instagramThin/>
                                        <span class="under-text">@Inshadowagency</span>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <div class="instagram-text">
                            <div class="text-container">
                                <h3 class="heading44">@Inshadowagency</h3>
                                <span class="instagram-tags">
                                  <a target="_blank" rel="noopener" v-for="(tag, i) in fields.instagram_tags.split(' ')" :key='i' href="https://www.instagram.com/explore/tags/">
                                    {{ tag }}
                                  </a>
                                </span>
                                <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener">
                                    <span class="text-and-arrow"> {{fields.instagram_button_text}}
                                        <arrowSvg></arrowSvg>
                                    </span>
                                </a>
                            </div>
                        </div>

                </div>
                <div class="container scale2x hoverable" ref='observerItem'>
                    <picture>
                      <source :srcset="dir + '/images/team/team5.webp'" type='image/webp'>
                      <source :srcset="dir + '/images/team/team5.jpg'" type='image/jpeg'>
                      <img :src="dir + '/images/team/team5.jpg'" alt='Team'>
                    </picture>
                </div>
            </div>

        </div>
        <div style="  clear: both;"></div>
    </div>
    <projectsComponent v-if="projects!= 'undefined'" v-bind:projects='projects'></projectsComponent>
    <blogComponent v-bind:posts='posts'
                   v-bind:blog_heading="fields.blog_heading"
                   v-bind:blog_view_more='fields.blog_view_more'></blogComponent>
    <footerComponent v-bind:type="false"></footerComponent>
    <stickyCircle/>
  </section>
</template>
<script>

import servicesComponent from '@/components/servicesComponent'
import projectsComponent from '@/components/projectsComponent'
import blogComponent from '@/components/blogComponent'
import footerComponent from '@/components/footerComponent'
import stickyCircle from '@/components/stickyCircle'

import arrowSvg from '@/assets/svg/left-arrow.svg'
import instagramThin from '@/assets/svg/instagram-thin.svg'
import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'
export default {
  name: 'Home',
  data(){
    return{
      dir: "/wp-content/themes/vuepress/src",
      ready: false,
      request:{
        type: 'page',
        slug: 'home',
        showLoading: true
      },
      active: 0,
      hidden: true,
      delay: 600,
      timeout: 100,
      borderOffset: 18,
      timer: ''
    }
  },
  components:{
    servicesComponent,projectsComponent,blogComponent,footerComponent,stickyCircle,
    /*stickyFormComponent,*/
    //#Svg Components//
    arrowSvg,
    instagramThin,
    facebook,
    instagram,
    medium,
    twitter  
  },
  computed:{
    page() {
      return this.$store.getters.singleBySlug(this.request)
    },
    fields(){
       return this.page.acf
    },
    services(){
      return this.$store.getters.collectionByType({ type: 'services'})

    },
    projects(){
      return Object.values(this.$store.getters.collectionByType({ type: 'projects'}))
    },
    posts(){
      return Object.values(this.$store.getters.collectionByType({type: 'post'}))
    },
    splitedText(){
      let splited= this.fields.header_text[this.active].heading.split(" ");
      for(let i=0; i<splited.length; i++){
        splited[i] = splited[i] + " ";
      }
      return splited;
    },
    time(){
        return this.delay + ((this.splitedText.length-1) * 300)
    },
  },
  methods:{
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getSingleBySlug', this.request),
          this.$store.dispatch('getItems', { type: 'services'}),
          this.$store.dispatch('getItems', { type: 'projects'}),
          this.$store.dispatch('getItems', { type: 'post'})
        ]
      ).then(() =>{
        this.ready = true;
        this.initObserver();
        this.fadeIn();
        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')

      })
    },
    fadeIn(){
      setTimeout(() => {
        this.hidden = false;
        this.startTimerAppearance();
      }, this.timeout);
    },
    changeSlide(i){
      if(i !== this.active){
        clearInterval(this.timer);
        this.borderOffset = 17;
        this.hidden = true;
        this.active = i;
        this.fadeIn();
      }
    },
    startTimerAppearance() {
      this.timer = setInterval(()=>{
          if(this.borderOffset<=100){
              //console.log(this.borderOffset);
              this.borderOffset = this.borderOffset + 1;
          }else{
              clearInterval(this.timer);
              this.startTimerCooldown();
          }
      }, this.time/72);
    },
    startTimerCooldown(){
        this.timer = setInterval(()=>{
            if(this.borderOffset >= 18){
                this.borderOffset = this.borderOffset - 1;
            }else{
                clearInterval(this.timer);
                if(this.fields.header_text.length == this.active + 1){
                    this.changeSlide(0);
                }else{
                    this.changeSlide(this.active+1);
                }

            }

        }, 5000/72);
    },
    initObserver(){
      const observer = new IntersectionObserver((entries, observer) =>{
        entries.forEach(entry=>{
          if (entry.intersectionRatio > 0) {
            entry.target.classList.add('animated')
            observer.unobserve(entry.target);
          }
        })
      })
      this.$nextTick(() =>{
        this.$refs.observerItem.forEach((container) => observer.observe(container))      
      })

    }
  },
  created(){
    this.getPage();
  },

}
</script>
<style lang="scss">
  $Oranienbaum: 'Oranienbaum', serif;
  .block_2{
    padding: 107px 20%;
    background-color: #ffffff;
    text-align: center;
    span{
      display: block;
    }
    .about-heading{
        line-height: 1.17;
    }
    .about-text{
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.67;
      letter-spacing: normal;
      text-align: center;
      color: #0f1216;
      max-width: 831px;
      margin: 0 auto;
      padding: 20px 0 30px 0;
    }

  }
  .block_5{
    background-color: #ffffff;
    .team-grid{
      margin: 0 15px;
      .team-grid-container{
        position: relative;
        width: 50%;
        min-height: 800px;
        box-sizing: border-box;
        &:first-of-type{
          float:left;
        }
        &:last-of-type{
          float:right;
        }
        .container{
          opacity:0;
          visibility: visible !important;
          transform: translateY(15px) scale(0.95);
          position: relative;
          margin: 30px 15px;
          box-sizing: border-box;
          border-radius: 3px;
          overflow: hidden;
          height:420px;
          -moz-transition: 1s;
          -ms-transition: 1s;
          -o-transition: 1s;
          transition: 1s;
          -webkit-transition: 1s;
          transition-duration: 1s;
          &.hoverable{
            &:hover{
              img{
                transform: scale(1.05);
              }
            }

          }
          img{
            transition: 1s;
            height: 100%;
            object-fit: cover;
            width: 100%;
          }
          &.scale2x{
            height:870px;
            
          }
          .instagram-image{
            float:left;
            width: 50%;
            overflow: hidden;
            height: 100%;
            position: relative;
            picture{
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              object-fit: contain;
              object-position: center;
              transition: 1s;
              &>*{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center;
              }
            }
            .overlay{
              transition: .5s;
              width:100%;
              height: 100%;
              position: absolute;
              left:0;
              top:0;
              opacity: 0;
              background-color: hsla(214, 19%, 7%, 0.8);
              .hover{
                position: absolute;
                left: 50%;
                top:50%;
                transform:translate(-50%,-50%);
                text-align: center;
                svg{
                  height: 102px;
                  width: 102px;
                  fill:#ffffff;
                }
                .under-text{
                  font-size: 19px;
                  font-weight: 500;
                  font-style: normal;
                  font-stretch: normal;
                  line-height: 2.25;
                  text-align: center;
                  color: #ffffff;
                  padding-top: 5px;
                  display: block;
                }
              }
            }
            &:hover{
              .overlay{
                opacity: 1;
              }
            }

          }
          .instagram-text{
            float:right;
            height: 100%;
            width: 50%;
            position: relative;
            .text-container{
              width:80%;
              position: absolute;
              left:57%;
              top:50%;
              transform:translate(-50%,-50%);
              .text-and-arrow{
                font-size: 13px;
                letter-spacing: 2px;
                font-weight: 500;
                svg{
                  fill: #bbac87;
                  padding-left: 15px;
                }
              }
              h3{
                text-align:left !important;
              }
              .instagram-tags{
                padding-top:10px;
                line-height: 1.67;
                display:block;
                color: #909090;
                padding-bottom:30px;
                a{
                  padding-right: 6px;
                  display: inline-block;
                  transition: 1s;
                  &:hover{
                    color:#0f1216;
                  }
                }
              }
            }

          }
          .text-block{
            width: 75%;
            margin: 0 auto;
            position: absolute;
            left:50%;
            top:50%;
            transform:translate(-50%,-50%);
            h3{
              text-align:left !important;
            }

            span{
              padding-top:10px;
              display:block;
              color: #909090;
              font-size: 14px;
              font-weight: normal;
              font-style: normal;
              font-stretch: normal;
              line-height: 20px;
              letter-spacing: 0.3px;
            }
          }
          &.animated{
            opacity:1;
            transform: translateY(0px) scale(1);
          }

        }
      }
    }
  }
  header{
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: left;
    background-color: #0f1216 !important;
    background-size: cover;
    .container {
      margin: 0 auto;
      padding: 0 10vw;
      width: 100%;
      box-sizing: border-box;
      position: absolute;
      bottom: 88px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 10;
      font-size: 0;
      background-size: cover;
      *{
        z-index: 11;
        position: relative;
      }
      &.blog{
        h1{
          padding-bottom: 18px;
        }
        .under-h1{
          float: left;
        }
      }
      &.blog-single{
        text-align: center;
        max-width: 1366px;
        box-sizing: border-box;

        h1{
          padding-bottom: 18px;
        }
        .under-h1{
          float: left;
          padding-top: 22px;
        }
        .author{
          padding-top: 22px;
        }
        .discuss{
          display: block;
          width: 275px;
          height: 50px;
          background-color: #ffffff;
          font-size: 10px;
          font-weight: 800;
          font-style: normal;
          font-stretch: normal;
          letter-spacing: 2px;
          color: #0f1216;
          text-align: left;
          padding: 0 25px;
          margin: 100px auto 0 auto;
          line-height: 12px;
          svg{
            float:right;
            path{
              stroke:#0f1216;
            }
          }
        }
      }
      &.home{
        bottom:8vh;
        h1{
          min-height: 130px;
          width: 870px;
        }
        .line{
          padding: 0;
        }
        .line-buttons{
          height: auto;
        }
        button {
          margin: 5vh 0 8vh 0;
          z-index: 10;
        }
      }
    }
    h1{
      span{
        transition: 1s;
        opacity: 1;
        filter: blur(0px);
        -webkit-filter: blur(0px);
        color: #ffffff;
      }
      &.hidden{
        span{
          transition-delay: 0s !important;
          transition: 0s;
          opacity: 0;
          filter: blur(3px);
          -webkit-filter: blur(3px);
        }
      }
    }
    .under-h1 {
      font-size: 12px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 19px;
      letter-spacing: normal;
      display: block;
      padding-top: 10px;
      text-align: left;
      color: #ffffff;

    }
    .line{
      padding-top: 82px;
      width: 100%;
      border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
      font-size: 0;
      margin-bottom: 58px;
      .line-buttons{
        width: 64px;
        height: 40px;
        display: inline-block;
        margin-bottom: -1px;
        position: relative;
        cursor: pointer;
        &:hover{
          &:before{
            height: 6px;
          }
        }
        &:before{
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          transition: 0.6s;
          width: 100%;
          height: 4px;
          background-color: #ffffff;
          opacity: 0.3;
        }
        &.active{
          &:before{
            opacity: 1;
            height: 6px;
          }
        }

      }
    }
    .contact-us{
      float: left;
      font-size: 0;
      padding: 10px 28px 10px 0;
      span{
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.9;
        letter-spacing: normal;
        text-align: left;
        color: #ffffff;
        text-transform: uppercase;
        position: relative;
        padding-right:17px;
        display: block;
      }
      svg{
        transform: rotate(-90deg);
        position: absolute;
        right: 0;
        top: 2px;
        #Oval{
          stroke: #ffffff;
          opacity:1;
          stroke-dasharray:100;
          stroke-dashoffset: 100;
          /*animation: drawCircle 1s infinite ease-in;
          animation-delay: 1.2s;*/
          stroke-width:2;
        }
        #Oval2{
          stroke: #ffffff;
          opacity:0.38;
          stroke-width:1.3;

        }
        #Shape1{
          fill: #ffffff;
        }
      }
    }
    .social-wrap{
      float:right;
      a{
        svg{
          height: 12px;
          width: auto;
        }
      }
    }
    .video-bg {
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      max-width: 100vw;
      text-align: center;
      overflow: hidden;
      video{
        object-fit: cover;
        width: 100%;
        height:100%;
      }
    }
    .header-overlay{
      transition: 2s;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-color: #0f1216bf;
      opacity: 0;
      z-index: 9;
      position: absolute;
      top: 0;
      left: 0;
      &.change{
        opacity: 0.7;
        z-index: 10;
      }

    }
    .color-over{
      background-color: #0f121699;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .mouse-wrap{
    display:inline-block;
    position:absolute !important;
    left:50%;
    transform: scale(0.4);
    bottom: 34px;
    margin-left: -7px;
    .mouse {
      transform:translateY(0);
      top:0;
      position: absolute;
      left: 0;
      width: 48px;
      animation: nudgeMouse 5.5s ease-out infinite;
      &:after{
        content: '';
        background-color: #ffffff;
        width: 7px;
        height: 7px;
        border-radius: 100%;
        animation: trackBallSlide 5.5s linear infinite;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        transform:translateY(20px);
      }
      .frame{
        width: 100%;
        position: absolute;
        z-index: 1;
        path{
          fill: none;
          stroke: #ffffff;
          stroke-width: 3;
          opacity:0.5;
        }
      }
      .mouse-left,
      .mouse-right {
        width: 50%;
        position: absolute;
        z-index: 2;
      }
      .mouse-right {
        right: 0;
        .Animate-Draw {
        animation: DrawLineBack 5.5s ease-out infinite;
      }
      }
      .mouse-left{
        .Animate-Draw {
          animation: DrawLine 5.5s ease-out infinite;
        }
      }
      .Animate-Draw {
        fill: none;
        stroke: #FFFFFF;
        stroke-width: 3;
        fill-opacity: 1;
      }
    }
  }
  @keyframes DrawLine {
    0% {
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    22% {
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    38%{
      stroke-dashOffset: 125;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    38.1%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:0;
    }
    48%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    64%{
      stroke-dashOffset: 125;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    64.1%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:0;
    }

  }

  @keyframes DrawLineBack {
    0% {
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    22% {
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    38%{
      stroke-dashOffset: -114;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    38.1%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:0;
    }
    48%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    64%{
      stroke-dashOffset: -114;
      stroke-dasharray: 120;
      stroke-opacity:1;
    }
    64.1%{
      stroke-dashOffset: 0;
      stroke-dasharray: 120;
      stroke-opacity:0;
    }
  }
  @keyframes nudgeMouse {
    0% {
      transform: translateY(0);
    }
    22% {
      transform: translateY(0px);
    }
    38%{
      transform: translateY(9px);
    }
    48%{
      transform: translateY(0px);
    }
    64%{
      transform: translateY(9px);
    }
  }
  @media only screen and (max-width: 1610px) {
    .team-grid .container{
      height: 304px !important;
    }
    .team-grid .container.scale2x{
      height: 638px !important;
    }
    .block_5 .team-grid .team-grid-container .container .text-block {
      width: 85% !important;
    }
    .block_5 .team-grid .team-grid-container .container .instagram-text .text-container {
      width: 90% !important;
    }
    .block_5 .team-grid .team-grid-container .container .instagram-text .text-container h3 {
      font-size: 33px !important;;
    }
  }
  @media only screen and (max-width: 1720px) {
    .block_5 .team-grid .team-grid-container .container .instagram-text .text-container h3{
      font-size: 34px !important;
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    .block_2{
      padding: calc(100vw / 320 * 75) $margin;
      h2{
        font-size: calc(100vw / 320 * 24);
        line-height: calc(100vw / 320 * 32);
        text-align: left;
      }
      .about-text{
        font-size: calc(100vw / 320 * 12);
        line-height: calc(100vw / 320 * 19) !important;
        text-align: left;

      }
    }
    .block_5{
      padding: calc(100vw / 320 * 75) 0;
      .team-grid{
        margin: 0;
        .team-grid-container{
          width: 100%;
          display: block;
          .container{
            height: auto !important;
            margin: $margin $margin;
            &:first-of-type{
              margin: 0 $margin;
            }
            .text-block{
              position: relative;
              left: auto;
              top: auto;
              transform:none;
              width: 100% !important;
              margin: calc(100vw / 320 * 30) 0;

            }
            .instagram-image{
              display:none
            }
            .instagram-text{
              float: none;
              position: relative;
              width: 100%;
              height: auto;
              .text-container{
                position: relative;
                left: auto;
                top: auto;
                transform:none;
                width: 100% !important;
                margin: calc(100vw / 320 * 30) 0;
                h3{
                  font-size: calc(100vw / 320 * 30);
                }
                .text-and-arrow{
                  letter-spacing: 1px;
                  font-size: calc(100vw / 320 * 13);

                }

              }
            }
          }
          &:nth-of-type(2){
            .container{
              &:last-of-type{
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    header{
      height: 100vh;
      height: calc(var(--vh, 1vh) * 100);
      .container{
        h1{
          font-size: calc(100vw / 320 * 36);
          width: 100% !important;
          line-height: calc(100vw / 320 * 40);
          br{
            display:none;
          }
        }
        .under-h1{
          font-size: calc(100vw / 320 * 12);
          line-height: calc(100vw / 320 * 19);
        }
        &.home{
          overflow: hidden;
          padding: 0 $margin;

          .line, .contact-us, .social-wrap, .mouse-wrap{
            display: none;
          }
          .header-email-button{
            text-align: center;
            margin: calc(100vw / 320 * 30) auto 0 auto;
            display: block;
          }
        }
      }
    }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    .block_2{
      text-align: left;
      .about-text{
        font-size: calc(100vw / 768 * 24);
        line-height: calc(100vw / 768 * 36) !important;
        max-width: none;

      }
    }
    header{
      .container{
        h1{
          max-width: 800px;
          font-size: 56px;
          line-height: 60px;
        }
        .under-h1{
          font-size: 21px;
          line-height: 36px;
        }
        &.home{
          text-align: left;
          .header-email-button{
            margin: 50px 0 0 0;
          }
        }
      }
    }
  }
  @media only screen and (max-width:1200px) and (min-width: 1101px) {
    .block_2 {
      padding: 107px 10%;
    }

    .block_5{
      .team-grid{
        .team-grid-container{
          .container{
            .text-block{
              span{
                font-size: 18px;
                line-height: 26px;
              }
            }
            .instagram-text{
              .text-container{
                h3{
                  font-size: 48px !important;
                }
                .instagram-tags{
                  font-size: 20px;
                }
                .text-and-arrow{
                  font-size: 20px;
                  svg{
                    width: 25px;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width:1365px) and (min-width: 1101px){
    .block_5 .team-grid .team-grid-container .container {
      .instagram-text{
        width: 100%;
      }
      .instagram-image{
        display: none;
      }
    }
  }
  
 
</style>
