<template>
    <section class='projects' v-if="ready">
      <projectsComponent v-bind:projects='projects'></projectsComponent>
      <highlightsComponent v-bind:highlights="highlights"></highlightsComponent>
      <footerComponent v-bind:type="false"></footerComponent>
      <stickyCircle/>
    </section>
</template>
<script>
import projectsComponent from '@/components/projectsComponent'
import footerComponent from '@/components/footerComponent'
import highlightsComponent from '@/components/highlightsComponent'
import stickyCircle from '@/components/stickyCircle'

export default {
  components:{
    projectsComponent,
    highlightsComponent,
    footerComponent,stickyCircle
  },
  data(){
      return{
        ready: false,
        page: 'projects',
      }
  },
  computed:{
    projects(){
      return Object.values(this.$store.getters.collectionByType({ type: 'projects'}))
    },
    highlights(){
      return Object.values(this.$store.getters.collectionByType({ type: 'highlights'}))

    }
  },
  methods:{
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getItems', { type: 'projects'}),
          this.$store.dispatch('getItems', { type: 'highlights'}),

        ]
      ).then(() =>{
        this.ready = true;
        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')

      })
    },
  },
  created(){
    this.getPage();
  },
}
</script>
<style lang="less">

</style>
