<template>
	<section class='services' v-if="ready">

		<servicesComponent v-bind:services='services'
								v-bind:services_heading="fields.services_heading"
								v-bind:services_end_button_text='fields.services_end_button_text'
								v-bind:services_end_sub_question='fields.services_end_sub_question'
								v-bind:services_end_question="fields.services_end_question"></servicesComponent>
    <faqComponent v-bind:spoilers='spoilers'></faqComponent>
    <footerComponent v-bind:type="false"></footerComponent> 
    <stickyCircle/>
	</section>       
</template>
<script>
import servicesComponent from '@/components/servicesComponent'
import faqComponent from '@/components/faqComponent.vue'
import footerComponent from '@/components/footerComponent'
import stickyCircle from '@/components/stickyCircle'
export default {
  data(){
    return{
      ready: false,
      request:{
        type: 'page',
        slug: 'home',
      },
    }
  },
	components:{
		servicesComponent,
    footerComponent,
		faqComponent,stickyCircle
	},
  computed:{
    page() {
      return this.$store.getters.singleBySlug(this.request)
    },
    fields(){
       return this.page.acf
    },
    services(){
      return this.$store.getters.collectionByType({ type: 'services'})
    },
    spoilers(){
      return  Object.values(this.$store.getters.collectionByType({ type: 'faq'}))
    },
  },
  methods:{
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getSingleBySlug', this.request),
          this.$store.dispatch('getItems', { type: 'services'}),
          this.$store.dispatch('getItems', { type: 'faq'}),
        ]
      ).then(() =>{
        this.ready = true;
        
        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')

      })
    },
  },
  created(){
    this.getPage();
  },
}
</script>
<style lang="less">

</style>
