<template>
  <section id='project-single' v-if="ready"> 
    <div class="single-project-block-1">
        <h1 class="heading96">{{fields.project_name}}</h1>
        <h2 class="heading48">{{fields.project_under_heading}}</h2>
    </div>
    <div class="single-project-block-2">
      <picture class="image-cont">
        <img :src="fields.project_image_1" alt="">
      </picture>
      <div class="text-container" id="scrollTo1">
        <div class="wrap">
          <div class=heading-container>
            <h3 class="heading36">{{fields.project_about_heading}}</h3>
          </div>
          <p v-html="fields.project_about_text"></p>
        </div>
      </div>
      <div class="scroll-block"  id="scrollTo2">
        <div class="paralax-container">
          <div class="col-text">
            <div class="container">
              <h3 class="heading44">{{ fields.section_1_name }}</h3>
              <p v-html="fields.results_text"></p>
            </div>
          </div>
          <div class="col-image">
            <img ref="animate" class="image-parts" v-for="(images, i) in fields.project_landing" :key="i" :src="images.url" alt="">			
          </div>
        </div>
      </div>
    </div>
    <div class="single-project-block-3">
        <div class="form">
          <div class="heading36">Interested in project development for your project?</div>
          <div class="sub">Fill the form and we will contact with you as soon as possible</div>
          <a href="/contact"><button class="gradient_blue">Contact now</button></a>
        </div>

        <div class="scroll-block" id="scrollTo3">
            <div class="paralax-container">
                <div class="col-text">
                    <div class="container">
                        <h3 class="heading44">{{ fields.section_2_name }}</h3>
                        <p v-html="fields.other_ideas"></p>
                    </div>
                </div>
                <div class="col-image">
                  	<img ref="animate" class="image-parts" v-for="(images, i) in fields.project_landing_2" :key="i" :src="images.url" alt="">			
                </div>
            </div>
        </div>
    </div>
		<div class="single-project-block-4">
      <picture class="image-cont">
					<img :src="fields.project_image_3" alt="">
      </picture>
      <div class="scroll-block" id="scrollTo4">
        <div class="paralax-container" >
            <div class="col-image">
                <h4 class="heading44">Colors</h4>
                <div class="colors-container">
                      <div v-for="(colors, i) in fields.colors_string" 
                           :key="i" class="circle" 
                           :style="{ backgroundColor: colors.color,
                                     boxShadow: '0 0 40px 0' + colors.color,
                                     color: colors.background }">
                        <span class="text">{{colors.color}}</span>
                      </div>
                    
                </div>
                <h4 class="heading44">Gradients</h4>
                <div class="colors-container">
                    <div class="circle" v-for="(circle, i) in fields.gradient_string" :key="i" :style="{ backgroundImage: circle.gradient}">
                    </div>
                </div>

                <h4 class="heading44">Photography styling</h4>
                <div class="photo-container">
                  <img v-for="(photo, i) in fields.photo_style" :key="i" :src="photo.url">
                </div>


            </div>
            <div class="col-text">
                <div class="container">
                    <h3 class="heading44">Style Guide</h3>
                    <p v-html="fields.styleguide_text"></p>
                </div>
            </div>

        </div>
      </div>
    </div>
    <!--<div class="single-project-block-5" :style='{backgroundImage: "url(" +fields.team_bg +")"}' >
      <h3 class="heading44">
          Team working on this project
      </h3>
      <div class="team-cnt">
        <slick :options="slickOptions">
          <div class="worked-container" v-for="(member, i) in authors" :key="i">
              <div class="wrapper">
                  <div class="team-image-cont">
                      <img :src="users[member].acf.team_photo.url">
                      <div class="overlay">
                        <div class="social-wrap">
                            <a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener" name='medium'>
                                <medium/>
                            </a>
                            <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
                              <instagram/>
                            </a>
                            <a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener" name='facebook'>
                                <facebook/>
                            </a>
                            <a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener" name='twitter'>
                                <twitter/>
                            </a>
                        </div>
                      </div>
                  </div>
                  <div class="team-text-container">
                      <span class="name">{{ users[member].name }}</span>
                      <span class="role">{{ users[member].description }}</span>
                  </div>
              </div>
          </div>
        </slick>
      </div>
      <div class="client-review">
          <p class="review">With Inshadow, you can trust that the work is going to be elevated to a new level. I’ve worked with them on several projects at Space X where their unique perspective and creative approach was instrumental in defining our product vision and direction.</p>
          <div class="author">
              <div class="photo" data-text="<img alt='' src='http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=42&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=84&amp;d=mm&amp;r=g 2x' class='avatar avatar-42 photo' height='42' width='42' />\\<img alt='' src='http://2.gravatar.com/avatar/e51a989aacda6f23413cde17c582b731?s=42&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/e51a989aacda6f23413cde17c582b731?s=84&amp;d=mm&amp;r=g 2x' class='avatar avatar-42 photo' height='42' width='42' />\\<img alt='' src='http://2.gravatar.com/avatar/e51a989aacda6f23413cde17c582b731?s=42&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/e51a989aacda6f23413cde17c582b731?s=84&amp;d=mm&amp;r=g 2x' class='avatar avatar-42 photo' height='42' width='42' />\\<img alt='' src='http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=42&amp;d=mm&amp;r=g' srcset='http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=84&amp;d=mm&amp;r=g 2x' class='avatar avatar-42 photo' height='42' width='42' />\\"><img alt="" src="http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=42&amp;d=mm&amp;r=g" srcset="http://2.gravatar.com/avatar/8825fe761b3a89fe4a27fa75ffa26291?s=84&amp;d=mm&amp;r=g 2x" class="avatar avatar-42 photo" height="42" width="42"></div>
              <div class="about">
                  <span class="name" data-text="Igors Koneckis\\Vladislavs Lavrenovs\\Vladislavs Lavrenovs\\Igors Koneckis\\">Igors Koneckis</span>
                  <span class="role" data-text="CEO, Art-Director of  Inshadow Agency\\Front-End Developer of  Inshadow Agency\\Front-End Developer of  Inshadow Agency\\CEO, Art-Director of  Inshadow Agency\\">CEO, Art-Director</span>
              </div>
          </div>
      </div>
    </div>-->
    <projectsComponent v-bind:projects='projects'></projectsComponent>
    <footerComponent v-bind:type="true"></footerComponent>
  </section>
</template>
<script>
import projectsComponent from '@/components/projectsComponent'
import footerComponent from '@/components/footerComponent'
import Slick from 'vue-slick'

import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'
export default {
  components:{
    Slick,
    projectsComponent,
    footerComponent,
    facebook,
    instagram,
    medium,
    twitter,
  },
  data(){
    return{
      ready:false,
      slickOptions: {
        centerMode: false,
        arrows:false,
        autoplay:false,
        
        dots: false,
        //prevArrow: '.arrow-container.prev',
        //nextArrow: '.arrow-container.next',
        mobileFirst:true,
        responsive:[
            {
                breakpoint: 1425,
                settings: {
                    slidesToScroll: 1,
                    slidesToShow: 5
                }
            },
            {
                breakpoint: 700,
                settings: {
                    slidesToScroll: 1,
                    slidesToShow: 3
                }
            },
            {
                breakpoint: 200,
                settings: {
                    slidesToScroll: 1,
                    slidesToShow: 1,
                }
            }
        ]
      },
    }
  },
  computed:{
    projects(){
      return Object.values(this.$store.getters.collectionByType({ type: 'projects'}))
    },
    single(){
      return this.projects.filter((post) =>{
          return post.slug == this.$route.params.slug
      })[0]
    },
    fields(){
      return this.single.acf;
    },
    users(){
      return this.$store.getters.collectionByType({ type: 'users'})
    },
    authors(){
      return this.single.acf.worked_on.map(worked =>{
        return worked.member.user_nicename;
      })
    }
  },
  methods:{
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getItems', { type: 'projects'}),
          this.$store.dispatch('getItems', { type: 'users'}),

        ]
      ).then(() =>{
        this.ready = true;
        this.initObserver();
        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')

      })
    },
    initObserver(){
      const observer = new IntersectionObserver((entries, observer) =>{
        entries.forEach(entry=>{
          if (entry.intersectionRatio > 0) {
            entry.target.classList.add('animated')
            observer.unobserve(entry.target);
          }
        })
      })
      this.$nextTick(() =>{
        this.$refs.animate.forEach((container) => observer.observe(container))
      })
    }
  },
  created(){
    this.getPage();
  },
}
</script>
<style lang="scss" scoped>
	$Oranienbaum: 'Oranienbaum', serif;

	p {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.79;
    letter-spacing: normal;
    color: #909090;
	}
	.single-project-block-1{
			padding: 281px 0 107px 0;
			max-width: 1166px;
			margin: 0 auto;
			h2{
        font-family: $Oranienbaum;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #838387;
				text-align: left;
			}

	}
  .single-project-block-3{
    .form{
      display:flex;
      flex-direction:column;
      align-items: center;
      background-color: #f5f5f5;
      .heading36{
        font-family:$Oranienbaum;
      }
      .sub{
        font-size: 20px;
        padding: 20px 0 30px 0;
      }
      padding: 107px 0;
    }
  }
	.single-project-block-5{
		padding-top: 80px;
		background-size:  0 0;
		position: relative;
		background-color: #fff;
		padding-bottom: 172px;
		*{
			z-index: 5;
			position: relative;
		}
		&:before{
			background-image: inherit;
			background-position: top center;
			content: "";
			width: 100%;
			height: 350px;
			position: absolute;
			top:0;
			left:0;
			z-index: 1;
			text-align: center;
		}
		h3{
			color:#ffffff;
			padding-bottom: 63px;
			text-align: center;
		}
		.team-cnt{
			max-width: 1366px;
			box-sizing: border-box;
			margin: 0 auto;
			padding: 0 85px;
			font-size: 0;
      .slick-slider{
        height: 100%;
        .slick-list{
          height: 100%;
          overflow:hidden;
          .slick-track{
            height: 100%;
            display: flex;
          }
        }
      }
			.worked-container{
				transition: 0.5s ease-in-out;
				padding-top: 20px;
				text-align: center;
				display:inline-block;
        max-width: 220px;
				.wrapper{
					margin: 0 15px;
				}
				.team-image-cont{
					position: relative;
					border-radius: 5px;
					overflow: hidden;
					.overlay{
						transition: 0.5s;
						opacity: 0;
						position: absolute;
						left: 0;
						top: 0;
						width: 100%;
						height: 100%;
						background-color: rgba(15, 18, 22, 0.75);
						.social-wrap{
							position: absolute;
							left: 50%;
							font-size: 15px;
							color:#ffffff;
							top: 50%;
							transform: translate(-50%, -50%);
							width: 100%;
              display: flex;
              justify-content: center;
							a{
								font-size: 0;
								svg{
									padding: 0 13px;
									display: inline-block;
									cursor: pointer;
									height: 15px;
									width: 15px;
									fill: #ffffff;
									transition: 1s;
								}
							}

						}
					}

				}
				.team-text-container{
					padding-top: 27px;
					span{
					display:block;
				}
					.name{
						font-size: 20px;
						font-weight: 500;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: normal;
						text-align: center;
						color: #0f1216;
						line-height: 1;
					}
					.role{
						font-size: 16px;
						font-weight: normal;
						font-style: normal;
						font-stretch: normal;
						letter-spacing: normal;
						text-align: center;
						padding-top: 6px;
						color: #535353;
					}
				}
				&:hover{
					transform: translateY(-20px);
					.overlay{
						opacity: 1;
					}
				}
			}
		}

	}
  .modal-wrapper{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0f1216e6;
    z-index:999999;
    top: 0;
    left: 0;
    .scroll-container{
      width: 100%;
      height: 100%;
      box-sizing: content-box;
      overflow-y: scroll;
      text-align: center;
      padding: 100px 50px 100px 50px;
      box-sizing: border-box;
      img{
        max-width: 100%;
      }
    }
    .close-x{
      position: absolute;
      right: 50px;
      top: 50px;
      width: 30px;
      height: 30px;
      cursor: pointer;
      div{
        width: 36px;
        height: 1px;
        position: absolute;
        top: 50%;
        right: 0;
        background-color: #f5f5f5;
        &:nth-of-type(1){
          transform: rotate(45deg);
        }
        &:nth-of-type(2){
          transform: rotate(-45deg);
        }
      }
    }
  }
  .image-cont{
    width: 100%;
    height: 569px;
    display:block;
    img{
			width: 100%;
			height:100%;
			object-fit: cover;
    	object-position: center;
		}
  }
  .text-container{
    padding: 107px 0 104px 0;
    background-color: #f5f5f5;
    .wrap{
      max-width: 1166px;
      margin: 0 auto;
      font-size: 0;

      .heading-container{
        position: sticky;
        top: 100px;
        display: inline-block;
        width: 50%;
        h3{
          margin-right: 100px;
        }
      }

      p{
        vertical-align: top;
        max-width: 483px;
        display: inline-block;
      }
    }

  }
  .scroll-block{
    padding: 107px 100px;
    max-width: 1366px;
    box-sizing: border-box;
    margin: 0 auto;
    .paralax-container{
      display: flex;
      .col-image{
        width: 50%;
        img{
          width: 100%;
          &.animated{
            cursor: zoom-in;
            opacity:1;
            transform:scale(1);
          }
        }
        .page-image{
          border: 15px #f5f5f5 solid;
          box-shadow: 0 0 50px 0 rgba(15, 18, 22, 0.25);
          opacity: 0;
          transition: 1s;
          visibility: visible !important;
          transform:scale(0.9);

        }
        .image-parts{
          margin-bottom: 106px;
          border: 15px #f5f5f5 solid;
          box-shadow: 0 0 50px 0 rgba(15, 18, 22, 0.15);
          opacity: 0;
          transition: 1s;
          visibility: visible !important;
          transform:scale(0.9);
          box-sizing: border-box;
          &:last-of-type{
            margin-bottom: 0;
          }
        }
        .colors-container{
          font-size: 0;
          padding:23px 0 107px 0;
          .circle{
            display: inline-block;
            width: 100px;
            height: 100px;
            font-size: 0;
            border-radius: 50%;
            position: relative;
            box-sizing: border-box;
            margin: 40px 40px 40px 40px;
            .text{
              position: absolute;
              top: 50%; left:50%;
              transform: translate(-50%,-50%);
              font-size: 14px;
              text-transform: uppercase;
            }

          }
        }
        .fonts{
          padding-bottom: 45px;
          padding-top: 50px;
          width: 100%;
          box-sizing: border-box;
          h4:first-of-type{
            padding-bottom: 50px;
          }
          .font-name{
            padding-bottom: 36px;
            color:#838387;
          }
          img{
            width: auto;
            margin-bottom: 62px;
          }
                  }
        .photo-container{
          font-size: 0;
          padding-top:38px;
          img{
            width: calc(50% - 15px);
            border-radius: 5px;
            box-sizing: border-box;
            margin-bottom:30px;
            &:nth-of-type(odd){
              margin-right: 30px;
            }
          }
        }
      }
      .col-text{
        width: 50%;
        box-sizing:border-box;
        padding: 0 100px 0 0;
        margin: 0 auto;
        color:black;
        position: -webkit-sticky;
        position: sticky;
        top: 125px;
        align-self: flex-start;
        &:last-of-type{
          padding: 0 0 0 100px ;

        }
        .container{
          width:100%;
          h4{
            padding:10px 0;
          }
        }
      }
    }
  }
  .client-review{
    max-width: 684px;
    margin: 20px auto 0 auto;
    .review{
      font-family: $Oranienbaum;
      font-size: 24px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.5;
      letter-spacing: normal;
      color: #0f1216;
    }
    .author{
      padding-top: 15px;
      .about{
        color: #0f1216;
        transform: translateY(0px);
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    #project-single{
      .sticky-menu{
        display: block;
      }
      .image-cont{
        height: calc(100vw / 320 *187);
        background-attachment: initial
      }
      .text-container{
        padding: calc(100vw / 320 *50) $margin calc(100vw / 320 *50) $margin;
        .wrap{
          .heading-container{
            position: relative;
            top: auto;
            width: 100%;
            h5{
              width: 100%;
              font-size:calc(100vw / 320 *30);
              line-height: calc(100vw / 320 * 37);
            }
          }
          p{
            padding-top: calc(100vw / 320 *30);
            font-size:calc(100vw / 320 *14);
            line-height: calc(100vw / 320 * 25);
          }
        }
      }
      .scroll-block{
        padding: calc(100vw / 320 *50) $margin calc(100vw / 320 *50) $margin;
        .paralax-container{
          display: flex;
          flex-direction: column;
          h4{
            font-size:calc(100vw / 320 *36);
            line-height: calc(100vw / 320 * 36);
          }
          .col-text{
            width: 100%;
            padding: 0 0 50px 0;
            position: relative;
            order: 1;
            top:auto;
            .container{
              height: auto;
            }
            &:last-of-type{
              padding: 0 0 50px 0;
            }
          }
          .col-image{
            order: 2;
            width: 100%;
            position: relative;
            .image-parts{
              box-sizing: border-box;
              margin-bottom: calc(100vw / 320 *40);

            }
            .colors-container{
              text-align: center;
              padding: 0 calc(100vw / 320 * 13) calc(100vw / 320 * 13) calc(100vw / 320 * 13);
              margin-top: calc(100vw / 320 * 7);
              .circle{
                width: calc(100vw / 320 * 53);
                height: calc(100vw / 320 * 53);
                margin:  calc(100vw / 320 * 21) 0;
                &:nth-child(3n+2){
                    margin: calc(100vw / 320 * 21) calc(100vw / 320 * 42);
                }
                .text{
                  font-size:calc(100vw / 320 *8);
                }
              }
            }
            .fonts{
              padding:0 0 calc(100vw / 320 *20) 0;
              h4{
                &:first-of-type{
                  padding-bottom: calc(100vw / 320 *26);
                }
              }
              .font-name{
                padding-bottom: calc(100vw / 320 *20);
              }
              img{
                max-width: 100%;
                max-height: 400px;
                margin: calc(100vw / 320 *25) 0 calc(100vw / 320 *30) 0;
              }
            }
            .photo-container{
              img{
                width: calc(50% - (100vw / 320 * 8));
                &:nth-of-type(even){
                  margin: 0 0 calc(100vw / 320 * 16) 0;
                }
                &:nth-of-type(odd){
                  margin: 0 calc(100vw / 320 * 16) calc(100vw / 320 * 16) 0;

                }
              }
            }
          }
        }

      }
    }
    .single-project-block-1{
      padding: calc(100vw / 320 *122) $margin calc(100vw / 320 *50) $margin;
      h1{
        font-size:calc(100vw / 320 *36);
        line-height: calc(100vw / 320 * 38);
        letter-spacing: normal;

      }
      h3{
        padding-top: calc(100vw / 320 *15);

        font-size:calc(100vw / 320 *24);
        line-height: calc(100vw / 320 * 30);
        letter-spacing: normal;

      }
    }
    .single-project-block-5{
      padding: calc(100vw / 320 *25) 0;
      h4{
        font-size:calc(100vw / 320 *24);
        line-height: calc(100vw / 320 * 48);
        padding: 0 $margin;
      }
      &:before{
        height: calc(100vw / 320 * 200);
        background-size: cover;
        background-position: right;
      }
      .team-cnt{
        padding: 0;
        .slick-track{
          padding-top: calc(100vw / 320 *23);
          img{
            width: 100%;
          }
        }
        .worked-container{
          padding: 0;
          box-sizing: border-box;
          width: 100%;
          margin: 0 auto;
          display: block !important;
          .wrapper{
            margin: 0 calc(100vw / 320 * 15);
          }
          .team-image-container{
            .overlay{
              .icon-wrap{
                span{
                  padding: 0 calc(100vw / 320 * 5);
                }
              }
            }
            img{
              width: 100% !important;
            }
          }
        }
      }
      .client-review{
        padding: calc(100vw / 320 * 40) $margin 0 $margin;
        margin: auto;
        max-width: none;
        .review{
          font-size:calc(100vw / 320 * 19);
          line-height: calc(100vw / 320 * 30);
        }
        .author{
          text-align: left;
          position: relative;
          float: none;
          padding-top: 30px;
          .photo{
            width: 50px;
            height: 50px;

          }
          .about {
            .name{
              font-size:calc(100vw / 320 * 16);
              line-height: calc(100vw / 320 * 22);
              letter-spacing: -0.5px;
              text-transform: none;
            }
            .role{
              font-size:calc(100vw / 320 * 12);
              line-height: calc(100vw / 320 * 15);
            }
          }
        }

      }
    }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    .single-project-block-5{
      h4{
        font-size: 50px;
      }
      &:before{
        height: calc(100vw/768 * 300);
      }
      .team-cnt{
        .slick-list{
          padding: 0 80px;
        }
        .worked-container{
          .wrapper{
            margin: 0 20px;
          }
        }
      }
      .client-review{
        padding: 20 40px;
        max-width: 800px;
        .review{
          font-size: 30px;
          line-height: 38px;
        }
        .author{
          display: flex;
          .about{
            line-height: 25px;
            .name{
              font-size: 16px;
              line-height: 25px;

            }
            .role{
              font-size: 13px;
              line-height: 25px;

            }
          }
        }
      }
    }
    #project-single{
      h1{
        font-size: 80px;
      }
      h3{
        font-size: 50px;
        line-height: 58px;
        padding-top: 20px;
      }
      .scroll-block{
        .paralax-container{
          h4{
            font-size: 50px;
          }
        }
      }
      .text-container{
        .wrap{
          .heading-container{
            h5{
              font-size: 50px;
              line-height: 62px;
            }
          }
          p{
            max-width: none;
            font-size: 20px;
            line-height: 34px;

          }
        }
      }
    }
  }
  @media only screen and (max-width:1200px) and (min-width: 1101px) {
    .single-project-block-1 {
      padding: 281px 20px 107px 20px;
    }
    #project-single .text-container{
      padding: 107px 20px 104px 20px;
    }
  }
  @media only screen and (max-width:1250px) and (min-width: 1101px) {
    #project-single .scroll-block .paralax-container .col-text{
        padding: 0 50px 0 0;
      .container {
          p {
            font-size: 13px;
          }
        }
    }
  }
</style>
