<template>
  <section id="post-single" v-if="ready">
    <div class='blog-app' :class="{scroll: scrolled>0}">
        <header :style="{backgroundImage: 'url('+ single.featured_image.large + ')' }">
            <div class="btb">
                <a href="/blog/">

                    <span class="text-and-arrow"><arrowSvg/>back to blogs</span></a>
            </div>
            <div class="header-overlay"></div>
                <div class="container blog-single" ref="container">
                    <h1 class="heading52" v-html="single.title"></h1>
                    <span class="under-h1">All our team went to this brave step.<br>
                        Read our story</span>
                    <div class="author">
                        <div class="photo">
                            <img :src="single.author.avatar" alt="">
                        </div>
                        <div class="about">
                            <span class="name" >{{ single.author.name }}</span>
                            <span class="role" >{{ single.author.description }}</span>
                        </div>
                    </div><div style="clear:both;"></div>
                    <button class="discuss">DISCUSS IN MEDIUM<arrowLong/>
                    </button>
                </div>
        </header>
        <div class="content" >
            <div class="wrapper" ref="content">
                <h1 class="heading52" v-html="single.title"></h1>
                <div v-html="single.content"></div>
            </div>
        </div>
    </div>
    <blogComponent v-bind:posts='posts'
            v-bind:blog_heading="fields.blog_heading"
            v-bind:blog_view_more='fields.blog_view_more'></blogComponent>
    <footerComponent v-bind:type="false"></footerComponent>
  </section>
</template>
<script>
import blogComponent from '@/components/blogComponent'
import footerComponent from '@/components/footerComponent'
import arrowSvg from '@/assets/svg/left-arrow.svg'
import arrowLong from '@/assets/svg/arrow-long.svg'

export default {
  components:{
      arrowSvg,
      arrowLong,
      blogComponent,
      footerComponent
  },
  data(){
    return{
      ready:false,
      scrolled: 0,
      fields:{
          blog_heading:"Stay up to date!<br> Check-out our blog.",
          blog_view_more:"VIEW MORE"
      },
    }
  },
  computed:{
    posts(){
      return Object.values(this.$store.getters.collectionByType({type: 'post'}))
    },
    single(){
      return this.posts.filter((post) =>{
          return post.slug == this.$route.params.slug
      })[0]
    }
  },
  methods:{
    handleScroll(e){

      this.scrolled = window.pageYOffset
    },
    preventDefault(e) {
      e = e || window.event;
      e.preventDefault();
      e.returnValue = false;  
    },
    async getPage () {
      await Promise.all(
        [
          this.$store.dispatch('getItems', { type: 'post'})
        ]
      ).then(() =>{
        this.ready = true;
        this.$nextTick(() =>{
          let position = document.querySelector(".container.blog-single").offsetHeight + 88;
          if(window.innerWidth>1100){
              //document.querySelector(".content").style.marginTop = -position +"px";
              this.$refs.content.style.marginTop = this.$refs.container.offsetHeight + 88 + 'px';
          }          
        });

        console.log('=================================')
        console.log('==========DATA LAODED============')
        console.log('=================================')
      })
    }
  },
  created(){
    this.getPage();
  },
  mounted(){
      window.addEventListener("scroll", (e)=>this.handleScroll(e), { passive: false });
      window.onwheel = (e) => {this.handleScroll(e), { passive: false }};
      window.onmousewheel = (e) =>  this.handleScroll(e), { passive: false };
      window.ontouchmove = (e) =>  this.handleScroll(e), { passive: false };
      window.onkeydown = (e) =>  this.handleScroll(e), { passive: false };
  }
}
</script>
<style lang="scss">
$Oranienbaum: 'Oranienbaum', serif;

.heading52{
  font-size: 52px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 54px;
  letter-spacing: normal;
}
header{
  position: relative;
  width: 100%;
  height: 100vh;
  text-align: left;
  background-color: rgba(15, 18, 22, 0.5);
  background-size: cover;
  z-index: 10;
  .container {
    margin: 0 auto;
    padding: 0 100px;
    width: 100%;
    box-sizing: border-box;
    position: absolute;
    bottom: 88px;
    text-align:left;
    z-index: 10000;
    font-size: 0;
    background-size: cover;
    *{
      z-index: 11;
      position: relative;
    }
    &.blog-single{
      max-width: 988px;
      box-sizing: border-box;
      padding: 0 75px 0 100px;
      h1{
        padding-bottom: 18px;
      }
      .under-h1{
        float: left;
        padding-top: 22px;
      }
      .author{
        padding-top: 22px;
      }
      .discuss{
        display: block;
        width: 275px;
        height: 50px;
        background-color: #ffffff;
        font-size: 10px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: 2px;
        color: #0f1216;
        text-align: left;
        padding: 0 25px;
        margin: 100px 0 0 0;
        line-height: 12px;
        svg{
          float:right;
          path{
            stroke:#0f1216;
          }
        }
      }
    }
  }
  h1{
    color: #ffffff;
    span{
      
      transition: 1s;
      opacity: 1;
      filter: blur(0px);
      -webkit-filter: blur(0px);
    }
    &.hidden{
      span{
        transition-delay: 0s !important;
        transition: 0s;
        opacity: 0;
        filter: blur(3px);
        -webkit-filter: blur(3px);
      }
    }
  }
  .under-h1 {
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 19px;
    letter-spacing: normal;
    display: block;
    padding-top: 10px;
    text-align: left;
    color: #ffffff;

  }
  .line{
    padding-top: 82px;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);;
    font-size: 0;
    margin-bottom: 58px;
    .line-buttons{
      width: 64px;
      height: 40px;
      display: inline-block;
      margin-bottom: -1px;
      position: relative;
      cursor: pointer;
      &:hover{
        &:before{
          height: 6px;
        }
      }
      &:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        transition: 0.6s;
        width: 100%;
        height: 4px;
        background-color: #ffffff;
        opacity: 0.3;
      }
      &.active{
        &:before{
          opacity: 1;
          height: 6px;
        }
      }

    }
  }
  .contact-us{
    float: left;
    font-size: 0;
    padding: 10px 28px 10px 0;
    span{
      font-size: 10px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.9;
      letter-spacing: normal;
      text-align: left;
      color: #ffffff;
      text-transform: uppercase;
      position: relative;
      padding-right:17px;
      display: block;
    }
    svg{
      transform: rotate(-90deg);
      position: absolute;
      right: 0;
      top: 2px;
      #Oval{
        stroke: #ffffff;
        opacity:1;
        stroke-dasharray:100;
        stroke-dashoffset: 100;
        /*animation: drawCircle 1s infinite ease-in;
        animation-delay: 1.2s;*/
        stroke-width:2;
      }
      #Oval2{
        stroke: #ffffff;
        opacity:0.38;
        stroke-width:1.3;

      }
      #Shape1{
        fill: #ffffff;
      }
    }
  }
  .social-wrap{
    float:right;
    a{
      svg{
        height: 12px;
        width: auto;
      }
    }
  }
  .video-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 100vw;
    text-align: center;
    overflow: hidden;
    video{
      object-fit: cover;
    }
  }
  .header-overlay{
    transition: 2s;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-color: #0f1216bf;
    opacity: 0;
    z-index: 9;
    position: absolute;
    top: 0;
    left: 0;
    &.change{
      opacity: 0.7;
      z-index: 10;
    }

  }
  .color-over{
    background-color: #0f121699;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;

  }
}
#post-single{
  .sticky-menu{
    display: none;
  }
  .header-overlay{
    opacity: .7 !important;
  }
  .blog-app{
    &.scroll{
      header {
        width: 50%;
        overflow: initial;

        h1{
          text-align: left;
        }
      }
      .content{
        h1{
          color:#0f1216;
          left: calc(50% + 40px) !important;
        }
      }
    }
  }
  header{
    background-position: center;
    position: sticky;
    top: 0;
    left: 0;
    transition: 1s;
    overflow: hidden;

    &:before{
      content: "";
      z-index: 10;
      background-image: linear-gradient(to bottom, #ffffff, rgba(255, 255, 255, 0));
      width: 100%;
      position: absolute;
      height: 200px;
      left: 100%;
    }
    .btb{
        z-index: 10000;
        position: absolute;
        top: 30px;
        left: 100px;
        a {
          .text-and-arrow {
            font-size: 11px;
            font-weight: 400;
            color: #fff !important;
            line-height: 23px;
            text-transform: uppercase;
            svg{
              transform: rotate(180deg);
              fill: #bbac87;
              padding-left: 15px;            }
          }
        }
      }
    //.color-over{
      //.container.blog{
        //text-align: center;
        //max-width: 524px;
        //box-sizing: content-box;
        //bottom: auto;
        //top: 180px;
      //}
    //}
  }
  .content{
    margin: -100vh 0 0 50%;
    width: 50%;
    box-sizing: border-box;
    padding-bottom: 88px;
    .wrapper{
      margin:0px 100px 0px 75px;
      h1{
        margin-bottom: 30px;
      }
      p{
        font-size: 14px;
        font-weight: normal !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 24px;
        letter-spacing: normal;
        color: #0f1216;
        padding: 10px 0;
      }
      h2{
        font-family: "objektiv-mk2",sans-serif;
        font-size: 24px;
        font-weight: 500 !important;
        font-style: normal;
        font-stretch: normal;
        line-height: 32px;
        letter-spacing: -0.4px;
        color: #0f1216;
        padding: 20px 0 0 0
      }
      h3{
        font-family: "objektiv-mk2",sans-serif;
        font-size: 20px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        line-height: 28px;
        padding-top:20px;
        letter-spacing: -0.4px;
        color: #0f1216;
      }
      ul{
        margin: 0 0 0 50px;
        padding:0;
        li{
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 23px;
          letter-spacing: normal;
          color: #0f1216;
          position: relative;
           margin-bottom: 20px;

          &:before{
            position: absolute;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background-color: #4a90e2;
            left: -18px;
            top: 9px;
            content: '';
          }
        }
      }
      blockquote{
        padding: 50px 0 50px 75px;
        margin: 0;
        min-height: 48px;
        display: flex;
        align-items: center;
        background-image: url(/wp-content/themes/vuepress/src/assets/svg/quote.svg);
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 45px;
        p{
          font-size: 20px;
          padding:0;
          font-family: $Oranienbaum;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.2;
          letter-spacing: normal;
          color: #0f1216;
        }
      }
    }
  }
  .block_6{
    padding-top: 100px;
  }

}
@media only screen and (max-width: 1100px) {
  $margin: calc(100vw / 320 * 20);
  #post-single{
    .sticky-menu{
      display: block;
    }
    .blog-app{
      overflow: hidden;
      &.scroll{
        header{
          width: 100%;
        }
      }
    }
    header{
      height: 100vh;
      position: relative;
      top: auto;
      left: auto;
      width: 100%;
      .heading52{
        font-size: calc(100vw / 320 *24);
        line-height: calc(100vw / 320 *28);
        padding:0
      }
      .under-h1{
        font-size: calc(100vw / 320 *12);
        line-height: calc(100vw / 320 *19);
        padding: 0px;
      }
      .container.blog-single{
        padding: 0 $margin;
        bottom: calc(100vw / 320 *54);

        .discuss{
          margin-top: calc(100vw / 320 *50);
          width: 100%;
          padding: 0 calc(100vw / 320 *20);
          font-size: calc(100vw / 320 *10);

        }
        .author{
          float: left;
        }
      }
      .line,
      .social-wrap,
      .btb{
        display: none;
      }

    }
    .content{
      width: 100%;
      margin: calc(100vw / 320 * 50) 0;
      padding: 0;
      .wrapper{
        margin: 0 $margin;
        h1{
          font-size:calc(100vw / 320 *36);
          line-height: calc(100vw / 320 * 42);
        }
        p{
          font-size:calc(100vw / 320 *16);
          line-height: calc(100vw / 320 * 25);
          letter-spacing: 0;  
        }
        h2{
          font-size:calc(100vw / 320 *24);
          line-height: calc(100vw / 320 * 32);
        }
        ul{
          margin: 0 0 0 calc(100vw / 320 * 17);
          li{
          font-size:calc(100vw / 320 *14);
          line-height: calc(100vw / 320 * 24);
          }
        }
      }
      /*h2 {
        font-size:calc(100vw / 320 *35);
        line-height: calc(100vw / 320 * 42);
        padding: 0;
        margin: 0 $margin calc(100vw / 320 * 25) $margin;
      }
      h5{
        font-size:calc(100vw / 320 *25);
        line-height: calc(100vw / 320 * 30);
        padding: 0;
        margin: 0 $margin calc(100vw / 320 * 25) $margin;
      }
      p{
        font-size:calc(100vw / 320 *16);
        line-height: calc(100vw / 320 * 25);
        margin: 0 $margin calc(100vw / 320 * 25) $margin;
        padding: 0;
      }
      blockquote {
        padding-left: 0;
        margin: calc(100vw / 320 * 25) $margin calc(100vw / 320 * 25) $margin;
        p{
          font-size:calc(100vw / 320 *24);
          line-height: calc(100vw / 320 * 32);
        }
      }
      pre{
        margin: calc(100vw / 320 * 50) 0 calc(100vw / 320 * 75) 0;
        padding: 0;
        img{
          height: auto;
          width: 100%;
        }
      }*/
    }
    .block_6{
      padding-top: 0;
    }
  }
}
@media only screen and (max-width:1100px) and (min-width: 750px){
  #post-single{
    header{
      .container.blog-single{
        text-align: left;
        .under-h1{
          float: none;
        }
        .discuss{
          width: 400px;
          height: 78px;
          font-size: 17px;
          letter-spacing: 1px;
          margin: 50px 0;
        }
      }
    }
    .content{
      h2{
        margin: 0 0 40px 0;
        font-size: 80px;
        line-height: 92px;
      }
      h5{
        margin: 0 0 20px 0;
        font-size: 53px;
        line-height: 64px;
      }
      p{
        margin: 0;
        font-size: 30px;
        line-height: 44px;
      }
      blockquote{
        margin: 40px 0 40px 0;
        p{
          padding: 0 0 0 70px;
          max-width: none;
          font-size: 40px;
          line-height: 52px;
        }
      }
      pre{
        margin: 75px 0;
      }
    }
  }
}
</style>
