<template>
    <div class="block_6">
      <h2 class="heading48" v-html="blog_heading"></h2>
      <div class="blog-grid">
        <div class="blog-block" v-for="(post, i) in posts.slice(0,8)" v-bind:key="i">
          <picture class="blog-insider">
            <!--<source :srcset='post.image + ".webp"'>
            <source :srcset='post.image + ".jpg"'>
            <img :src='post.image + ".jpg"' alt='background'>-->
            <img :src="post.featured_image.large" alt='background'>
          </picture>
            <div class="blog-content">
              <span class="date">{{post.date}}</span>
              <span class="blog-heading" v-html="post.title"></span>
                  <a :href="'/blog/' + post.slug" :name='"Read more about " + post.title'>
                    <span class="blog-read">READ MORE<arrowSvg/></span>
                  </a>
          </div>
        </div>
      </div>
      <a href="/blog/">
        <div class="more-group">
          <span class="more-src">{{blog_view_more}}</span>
          <div class="shape">
              <div class="line">
                  <div class="box">

                  </div>
              </div>
          </div>
        </div>
      </a>
    </div>  
</template>
<script>
import arrowSvg from '@/assets/svg/left-arrow.svg'

export default {
  props: ['posts','blog_view_more','blog_heading'],
  components:{
    arrowSvg
  },
  data(){
    return{
      monthNames: [
        "January", "February", "March",
        "April", "May", "June", "July",
        "August", "September", "October",
        "November", "December"
      ]
    }
  },
  mounted(){
    this.posts.forEach(post => {
      let date = new Date(post.date);
      let formated= date.getDate() + ' ' + this.monthNames[date.getMonth()] + ', ' + date.getFullYear();
      post.date = formated;
    });
    
  }
}
</script>
<style lang="scss">
$Oranienbaum: 'Oranienbaum', serif;
  .block_6{
    padding-top: 100px;
    background-color: #ffffff;
    .blog-grid{
      margin:55px 37px 45px 37px;
      font-size: 0;
      text-align: center;
      .blog-block{
        background-size: contain;
        background-repeat: no-repeat;
        width: 400px;
        height: 300px;
        margin: 15px;
        color: #ffffff;
        box-sizing: border-box;
        transition: 0.7s;
        display: inline-flex;
        position: relative;
        background: #0f1216;
        .blog-insider{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: contain;
          object-position: center;
          transition: 1s;
          opacity: .8;
          &>*{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .blog-content{
          position: relative;
          z-index: 10;
          width: 100%;
          height: 100%;
          padding: 49px 32px;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          .date {
            font-size: 10px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 2.5;
            letter-spacing: 0.9px;
            text-align: left;
            color: #bbac87;
            display: block;
            text-transform: uppercase;
          }
          .blog-heading {
            font-family: $Oranienbaum;
            font-size: 30px;
            font-weight: 400;
            font-style: normal;
            font-stretch: normal;
            line-height: 35px;
            letter-spacing: normal;
            text-align: left;
            display: block;
            padding-top: 7px;
          }
          .blog-read {
            font-size: 12px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: 2px;
            text-align: left;
            position: absolute;
            bottom: 55px;
            left: 33px;
            svg{
              padding-left: 15px;
              height: 10px;
              fill: #bbac87;
              display: inline-block;

            }
          }
        }
        &:hover{
          box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);
          color: #0f1216;
          background: #fff;
          svg{
            -webkit-animation: bounce322 2s infinite;
            -o-animation: bounce322 2s infinite;
            animation: bounce322 2s infinite;
          }
          @keyframes bounce322{
            0%, 20%, 50%, 80%, 100% {
              transform:translateX(0);
            }
            40% {
              transform:translateX(-3px);
            }
            60% {
              transform:translateX(-2px);
            }
          }
          .blog-insider{
            opacity: 0;
          }

        }

      }
    }
    .more-group{
      padding-top: 0;
      padding-bottom: 96px;
    }
  }
  @media only screen and (max-width: 1800px) {
    .blog-block:nth-of-type(7),
    .blog-block:nth-of-type(8){
      display: none !important;
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    .block_6{
      padding: calc(100vw / 320 * 75) 0;
      h2{
        margin: 0 $margin;
      }

      .blog-grid{
        margin: 30px 0 20px 0;
        .blog-block{

          margin: calc(100vw / 320 * 10) $margin;
          width: calc(100% - (100vw / 320 * 20 * 2));
          height: calc(100vw / 320 * 210);
          .blog-insider{
            border-radius: 3px;
            overflow: hidden;
          }
          .blog-content{
            padding: calc(100vw / 320 * 33) calc(100vw / 320 * 22);
            .date{
              font-size: calc(100vw / 320 * 10);
              line-height: calc(100vw / 320 * 17.5);
            }
            .blog-heading{
              padding-top: calc(100vw / 320 * 8);
              font-size: calc(100vw / 320 * 22);
              line-height: calc(100vw / 320 * 28);
            }
            .blog-read{
              font-size: calc(100vw / 320 * 12);
              left:calc(100vw / 320 * 22);
              bottom:  calc(100vw / 320 * 30);
            }
          }
          .more-src{
            font-size: calc(100vw / 320 * 14);
          }
        }
      }
      .more-group{
        padding: 0;
      }
    }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    .block_6{
      .blog-grid{
        .blog-block{
          .blog-content{
            .date{
              font-size: 17px;
            }
            .blog-heading{
              font-size: 55px;
              line-height: 67px;
            }
            .blog-read{
              display: flex;
              align-items: center;
              font-size: 20px;
              svg{
                width: 25px;
                height: auto;
              }
            }
          }
        }
      }
    }
  }
</style>