<template>
    <div class="about_us_faq">
        <h3 class="heading48">F.A.Q.</h3>
        <div class="spoiler-container"  v-for="(spoiler, i) in spoilers" :key="i">
            <div  @click="statusChange(i)"  class="spoiler" v-bind:class='{ active: spoilers[i].active }'>
                <div class="spoiler-sign">
                    <div></div>
                    <div></div>
                </div>
                <div class="spoiler-content">
                    <span class="spoiler-question" v-html="spoilers[i].title"></span>
                    <span class="spoiler-answer" v-html="spoilers[i].content"></span>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    props:['spoilers'],
    methods:{
        statusChange(i){
            this.spoilers[i].active = !this.spoilers[i].active;
            var spoilers = document.querySelectorAll(".spoiler");
            if(!this.spoilers[i].active){
                spoilers[i].style.height = ((spoilers[i].querySelector(".spoiler-question").offsetHeight)) +"px";
            }else{
                spoilers[i].style.height = ((spoilers[i].querySelector(".spoiler-content").offsetHeight)) +"px";
            }
        },
        spoilerfix() {
            let sp = document.querySelectorAll(".spoiler");
            sp.forEach(function (spoiler) {
                spoiler.style.height = ((spoiler.querySelector(".spoiler-question").offsetHeight)) +"px";
            })
        }
    },
    mounted(){
        this.spoilerfix()
        window.addEventListener('resize', () => {
            this.spoilerfix();
        });
    }
}
</script>
<style lang="scss">
    .about_us_faq{
        clear: both;
        padding: 107px 0;
        background-color: #f5f5f5;
        .spoiler-container{
            width: 809px;
            margin: auto;
            .spoiler{
                width: calc(100% - 133px);
                border-radius: 5px;
                background-color: #ffffff;
                position: relative;
                padding: 23px 40px 23px 92px;
                cursor: pointer;
                transition: 1s;
                margin-bottom: 20px;
                overflow: hidden;
                &:nth-of-type(1){
                    margin: 30px 0 0 0;
                }
                .spoiler-sign{
                    position: absolute;
                    top:0;
                    left: 0;
                    height: 76px;
                    width: 92px;
                    display: inline-block;
                    div{
                        position: absolute;
                        background-color: #2f2b3a;
                        left: 50%;
                        top: 50%;
                        &:nth-of-type(1){
                            width: 16px;
                            height: 2px;
                            margin: -1px 0 0 -8px;
                        }
                        &:nth-of-type(2){
                            width: 2px;
                            height: 16px;
                            margin: -8px 0 0 -1px;
                            transition: 0.5s;
                        }
                    }
                }
                .spoiler-content{
                    display: inline-block;
                    .spoiler-question{
                        display: block;
                        font-size: 16px;
                        font-weight: 700;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 1.88;
                        letter-spacing: normal;
                        text-align: left;
                        color: #2f2b3a;
                    }
                    .spoiler-answer {
                        font-size: 13px;
                        font-weight: 400;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: 2.31;
                        letter-spacing: normal;
                        text-align: left;
                        color: #2f2b3a;
                        padding-top: 23px;
                        display: block;
                    }
                }
                &.active{
                    .spoiler-sign div:nth-of-type(2){
                        height: 2px;
                        margin: -1px 0 0 -1px;
                    }
                }
            }
        }

    }
@media only screen and (max-width: 750px){
  $margin: calc(100vw / 320 * 20);
  .about_us_faq{
    padding: 64px $margin 75px $margin;
    h3{
      font-size:calc(100vw / 320 * 36);
      line-height: normal;
      letter-spacing: calc(100vw / 320 * 2);
    }

    .spoiler-container{
      width: 100%;
      .spoiler{
        width: auto;
        margin-top: calc(100vw / 320 * 10) !important;
        padding: calc(100vw / 320 * 19) calc(100vw / 320 * 20) calc(100vw / 320 * 19) calc(100vw / 320 * 56);
        .spoiler-sign{
          top: 0;
          left: 0;
          height: calc(100vw / 320 * 57);
          width: calc(100vw / 320 * 57);
          div{
            &:first-of-type{
              width: calc(100vw / 320 * 16);
              height: calc(100vw / 320 * 2);
              margin: calc(100vw / 320 * -1) calc(100vw / 320 * -8);
            }
            &:last-of-type{
              width: calc(100vw / 320 * 2);
              height: calc(100vw / 320 * 16);

              margin: calc(100vw / 320 * -8) calc(100vw / 320 * -1);
            }
          }
        }
        .spoiler-content{
          .spoiler-question{
            font-size:calc(100vw / 320 * 12);
            line-height:calc(100vw / 320 * 19);
          }
          .spoiler-answer{
            margin-left: calc(100vw / 320 * -36);
            padding-top: calc(100vw / 320 * 19);
            font-size:calc(100vw / 320 * 12);
            line-height:calc(100vw / 320 * 19);
          }
        }
      }

    }
  }
}
@media only screen and (max-width: 1100px) {
  $margin: calc(100vw / 320 * 20);

}
@media only screen and (max-width:1100px) and (min-width: 750px){
  .about_us_faq{
    padding: 107px 20px;
    .spoiler-container{
      width: auto;
    }
  } 
}
</style>
