<template>
    <footer class="footer" :class="{reversed: type, active: hovered}">
    <a href="/contact/">
        <div class="footer-top" @mouseover="hovered=true" @mouseleave="hovered=false">
            <span class="footer-heading">Make a step forward<span>.</span></span>
            <span class="footer-hidden">START A PARTNERSHIP TODAY</span>
        </div>
    </a>
    <button class=" mobile-btn gradient_blue">Start a Partnership</button>
    <div class="social-wrap">
        <a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener" name='medium'>
            <medium/>
        </a>
        <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
          <instagram/>
        </a>
        <a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener" name='facebook'>
            <facebook/>
        </a>
        <a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener" name='twitter'>
            <twitter/>
        </a>
    </div>
    <div class="container">
        <mail/>
        <span class="contacts-info">hello@inshadow.agency</span>
    </div>
    <span class="footer-bottom">INSHADOW AGENCY © 2019</span>
</footer>
</template>
<script>
import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'

import mail from '@/assets/svg/email.svg'

export default {
    props:['type'],
    data(){
        return{
            hovered:false 
        }
    },
    components:{
        facebook,
        instagram,
        medium,
        mail,
        twitter
    }
}
</script>
<style lang="scss">
  $Oranienbaum: 'Oranienbaum', serif;
  footer{
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: #0f1216;
    position: relative;
    transition: .7s ease-in-out;
    .mobile-btn{
      display: none;
    }
    .footer-top{
      position: absolute;
      top: 40vh;
      left: 50%;
      transform:translateX(-50%);
      transition: .5s ease-in-out;
      cursor: pointer;
      .footer-heading{
        display: block;
        font-family: $Oranienbaum;
        font-size: 80px;
        font-weight: 400;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.03;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        span{
          color: #4a90e2;
          display: contents;
        }
      }
      .footer-hidden{
        display: block;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 6px;
        text-align: center;
        color: #535353;
        transition: 0.5s ease-in-out;
        transition-delay: 0.3s;
        transform: translateY(-40px);
        padding-top: 22px;
        opacity: 0;
      }
    }
    .footer-bottom{
      font-size: 10px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      letter-spacing: 2px;
      text-align: center;
      color: #535353;
      position: absolute;
      bottom: 50px;
      left: 50%;
      transform:translateX(-50%);
      line-height: 45px;
    }
    .social-wrap{
      transform: translateY(1px);
      position: absolute;
      bottom: 50px;
      right: 10%;
      line-height: 45px;
      svg{
        transition-delay: 0s
      }
     
    }
    .container{
      position: absolute;
      bottom: 50px;
      left: 10%;
      height: 45px;
      display: flex;
      align-items: center;
      svg{
        display: inline-block;
        height: 11px;
        transform: translateY(2px);
        fill: #ffffff;
        width:20px;
      }
      .contacts-info{
        font-size: 14px;
        font-weight: 500;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        display: inline-block;
        color: #ffffff;
        padding-left:15px;
      }
    }
    &.active{
      background-color: #ffffff;
      .footer-top{
        .footer-heading{
          color: #0f1216;
          span{

          }
        }
        .footer-hidden{
          color: #0f1216;
          opacity: 1;
          transform: translateY(0px);
          transition-delay: 0s;
        }
      }
    }
    &.reversed{
      background-color: #fff;
      .footer-top{
        .footer-heading{
          color: #0f1216;
        }
        .footer-hidden{
          color: #535353;
        }
      }
      .social-wrap{
        svg{
          fill: #0f1216;
        }
      }
      .container{
        svg{
          fill: #0f1216;
        }
        .contacts-info{
          color: #0f1216;

        }
      }
      &.active{
        background-color: #0f1216;
        .footer-top{
          .footer-heading{
            color:#ffffff;
          }
        }
      }
    }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    footer{
      a[href^="/form"]{
        margin-top: auto;
      }
      .footer-top{
        margin-top: auto;
        .footer-heading{
          font-size: calc(100vw / 768 * 100);
          line-height: calc(100vw / 768 * 110);
        }
      }
      button{
        margin: 60px auto 0 auto !important;
      }
      .social-wrap{
        margin: calc(100vw / 768 * 120) 0 0 0;
        justify-content: center;
        a{
          padding: 0 30px;
          &:nth-of-type(2){
            svg{
              height:calc(100vw / 768 * 25);
            }

          }
          &:nth-of-type(3){
            svg{
              height: calc(100vw / 768 * 25);
            }
          }
        }
        svg{
          height: calc(100vw / 768 * 24);
        }
      }
      .container{

      }
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    footer{
      padding: calc(100vh / 568 * 115) $margin calc(100vh / 568 * 25)$margin;
      height: 100vh;
      box-sizing: border-box;
      display: flex;
      flex-wrap: nowrap;
      flex-direction: column;
      align-items: flex-end;
      .mobile-btn{
        margin: calc(100vw / 320 * 25) 0 0 0;
        display: block;
      }
      .footer-top{
        position: relative;
        top: auto;
        left: 0;
        transform: none;
        width: 100%;
        margin: 0;
        .footer-heading{
          font-size: calc(100vw / 320 * 52);
          line-height: calc(100vw / 320 * 55);
        }
        .footer-hidden{
          display:none;
        }

      }
      .social-wrap{
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        float: none;
        transform: none;
        line-height: calc(100vw / 320 * 18);
        display: flex;
        justify-content: space-around;
        margin: auto 0 0 0;
        a{
          &:nth-of-type(2){
            svg{
              height: calc(100vw / 320 * 19);
            }
          }
          &:nth-of-type(3){
            svg{
              height: calc(100vw / 320 * 19);
            }
          }
        }
        svg{
          height: calc(100vw / 320 * 18);
          width: auto;
          padding: 0;
          display: flex;
          justify-content: space-around;
        }

      }
      .container{
        width: 100%;
        position: relative;
        bottom: auto;
        left: auto;
        right: auto;
        float: none;
        margin: 25px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100vw / 320 * 42);
        svg{
          height: calc(100vw / 320 * 11);
          width: auto;
        }
        .contacts-info{
          font-size: calc(100vw / 320 * 16);
          vertical-align: middle;
        }
      }
      .footer-bottom{
        font-size: calc(100vw / 320 * 7);
        position: relative;
        bottom: auto;
        left: auto;
        transform:translateX(0);
        width: 100%;
        line-height: initial;
      }
    }
  }
</style>

