<template>
	<div class='highlights'>
		<h3 class='heading heading44'>Our Highlights</h3>
		<div class='grid-container'>
			<picture v-for="(el,i) in highlights" :key="i" class='grid-item' @click="openBox(i)">
				<img :src="el.featured_image.large">
			</picture>	
		</div>
		<div class='view' v-if="box.show">
			<div class='scroll'>
				<div class="overlay-click"  @click="openBox(active)"></div>
				<div class="box">
					<div class="top">
						<div class="logo">
						</div>
						<div class="text">
							<div class="title">{{ highlights[active].title }}</div>
							<div class="date">November 22, 2018</div>
						</div>
						<div class="close-x"  @click="openBox(active)">
							<div></div>
							<div></div>
						</div>
					</div>
					<picture class="preview">
						<img :src="highlights[active].featured_image.large">
					</picture>
					<div class='content'>
						<div class='attachments' v-if="highlights[active].acf.attachments">
								
								<div class='desc'>
									<paperclip/>
									<span>{{ highlights[active].acf.attachments.length + ' Attachments' }}</span>
								</div>
								<div class="images-preview">
									<div class='scroll-pre' v-dragscroll.x="true"
															v-on:dragscrollstart="box.drag=true"
															v-on:dragscrollend="stopDrag()">
										<picture v-for="(img, i) in highlights[active].acf.attachments" :key="i" v-on:click="openFullAttachment(i)">
											<img :src="img.sizes.thumbnail" alt="">
										</picture>
									</div>
								</div>
						</div>
					</div>
				</div>
					<div class="controls">
					<div class="btns">
						<div class="btn" @click="changeActive(-1)">
							<span>LAST //</span> VULKAN MEDIA
						</div>
						<div class="btn" @click="changeActive(1)">
							<span>NEXT //</span> VULKAN MEDIA
						</div>
					</div>
					<arrowSvg @click="changeActive(-1)" class="arrow left"/>
					<arrowSvg  @click="changeActive(1)" class="arrow right"/>
				</div>
				<div class="full" v-if="box.full.show">
					<div class='attachments' v-if="highlights[active].acf.attachments">
						<div class="images-preview">
							<div class="scroll-pre"  v-dragscroll.x="true"
													 v-on:dragscrollstart="box.drag=true"
												     v-on:dragscrollend="stopDrag()">
								<picture v-for="(img, i) in highlights[active].acf.attachments" 
								:key="i" v-bind:class="{ active: i==box.full.active }" 
								v-on:click="openFullAttachment(i)">
									<img :src="img.sizes.thumbnail" alt="">
								</picture>
							</div>
							
						</div>
						<div class="close-x" @click="box.full.show=false">
							<div></div>
							<div></div>
						</div>
					</div>
					<div class="container-full">
						<picture>
							<img :src="highlights[active].acf.attachments[box.full.active].url" alt="">
						</picture>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>
<script>
import paperclip from '@/assets/svg/paperclip.svg'
import arrowSvg from '@/assets/svg/left-arrow.svg'
import  { dragscroll } from 'vue-dragscroll' 

export default {
		props: ['highlights'],
		components:{
			paperclip,
			arrowSvg
		},
		directives: {
			'dragscroll': dragscroll
		},		
		data(){
			return{
				box:{
					show: false,
					drag: false,
					full:{
						show:false,
						active: 0
					}
				},
				active:0
			}
		},
		watch:{

		},
		methods:{
			openBox(i){
			
				this.active = i;
				this.box.show = !this.box.show;
				document.querySelector('body').classList.toggle('scroll-off');
			},
			openFullAttachment(i){
				if(!this.box.drag){
					this.box.full.active = i;
					this.box.full.show = true;					
				}
			},
			stopDrag(){
				setTimeout(() => {
					this.box.drag= false;
				}, 10);
				
			},
			changeActive(value){
				if(value>0 && this.active<this.highlights.length-1){
					this.active = this.active +1;
				}else if(value>0 && this.active>=this.highlights.length-1){
					this.active = 0;
				}else if(value<0 && this.active!=0){
					this.active=this.active -1;
				}else if(value<0 && this.active==0){
					this.active = this.highlights.length-1;
				}
			}
		},
		mounted(){

		}
}
</script>
<style lang="scss">
	.scroll-off{
		overflow-y:hidden;
	}
	.highlights{
		padding: 100px 0;
		.heading{
			font-family: "objektiv-mk2",sans-serif;
			font-size: 40px;
			font-weight: bold;
			font-style: normal;
			font-stretch: normal;
			line-height: 52px;
			letter-spacing: -1.2px;
			text-align: center;
			color: #000000;
		}
		.grid-container{
			padding: 50px 67px 0;
			display: flex;
			flex-wrap:wrap;
			justify-content:center;
			.grid-item{
				width: 370px;
				height: 220px;
				margin: 14px;
				overflow: hidden;
				border-radius: 5px;
				//display: 
				img{
					width: 100%;
					height: 100%;
					object-fit: cover;
					transition: .7s;
					cursor:pointer;
					&:hover{
						transform: scale(1.05);
					}
				}
			}
		}
	}
	.view{
		width: 100%;
		height: 100vh;
		background-color: rgba(15, 18, 22, 0.8);
		position: fixed;
		top: 0;
		left: 0;
		//opacity: 0;
		transition:1s;
		z-index: 300;
		.scroll{
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			overflow:hidden;
			height: 100%;
			overflow-y: scroll;
			.overlay-click{
				cursor:pointer;
				position:absolute;
				width:100%;
				height:100%;
				z-index: 1;
				top:0;
				left:0;
			}
			.box{
			 	margin: 50px auto 28px auto;
				max-width: 1000px;
				//opacity: 0;
				//transition: 1s ease-out;
				background-color: white;
				transition-delay: .2s;
				border-radius: 5px;
				display: flex;
				flex-direction: column;
				overflow: hidden;
				position:relative;
				z-index:10;
				.top{
					padding: 25px 50px;
					height: 100px;
					box-sizing: border-box;
					display: flex;
					background-color: #f5f5f5;
					align-items:center;
					.logo{
						width:50px;
						height:50px;
						box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
						background-color: #ffffff;
						border-radius: 5px;
						overflow:hidden;
					}
					.text{
						display: flex;
						flex-direction: column;
						margin-left:20px;
						.title{
							font-size: 14px;
							font-weight: bold;
							font-style: normal;
							font-stretch: normal;
							letter-spacing: -0.2px;
							color: #000000;
						}
						.date{
							font-size: 12px;
							letter-spacing: -0.3px;
							color: #979797;
						}
					}
					.close-x{
						margin-left:auto;
						cursor: pointer;
						width:30px;
						height:30px;
						position:relative;
						div{
							transition: 0.3s;
							width: 100%;
							height: 2px;
							border-radius: 1px;
							background-color: #c1c1c1;
							position: absolute;
							top: calc(50% - 1px);
							left: 0;
							&:first-of-type {
								-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}
							&:last-of-type {
								-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
							}
						}
					}
				}
				.preview{
					width:100%;
					max-height: 600px;
					overflow:hidden;
					img{
						width:100%;
						height:100%;
						object-fit:cover;
					}
				}
				.content{
					margin: 20px 50px 26px 50px;
					.attachments{
						.desc{
							font-size: 13px;
							font-weight: 500;
							font-style: normal;
							font-stretch: normal;
							letter-spacing: -0.2px;
							color: #838387;
							line-height: 20px;
							display: flex;
   							align-items: center;
							svg{
								padding-right: 8px;
							}
						}
						
					}
				}
					
			}
			.btns{
				width: 1000px;
				margin: 0 auto;
				display: flex;
				justify-content: space-between;
				font-size: 12px;
				font-weight: bold;
				font-style: normal;
				font-stretch: normal;
				line-height: 20px;
				letter-spacing: 3.7px;
				margin-bottom:50px;
				position:relative;
				z-index:10;

				.btn{
					cursor: pointer;
					transition: .5s;
					color: #909090;
					span{
						transition: .5s;
					}
					&:hover{
						color: #fff;

						span{
							color: #4a90e2;
						}
					}
					&.mobile{
						display: none;
					}
				}
			}
			.arrow{
				position:absolute;
				top:50%;
				fill: #fff;
				height: 17px;
				width: auto;
				cursor:pointer;
				z-index:10;
				&.left{
					left:35px;
					transform: rotate(-180deg) translateY(50%);
				}
				&.right{
					right:35px;
					transform:translateY(-50%);
				}
			}
			.full{
				width: 100vw;
				height: 100vh;
				background-color: #535353;
				position: fixed;
				top: 0;
				left: 0;
				//opacity: 0;
				transition:1s;
				padding: 30px 35px;
				box-sizing:border-box;
				z-index: 500;
				overflow-y: scroll;
    			overflow-x: hidden;
				.attachments{
					display: flex;
					justify-content: flex-end;
					align-items: center;

					.close-x{
						cursor: pointer;
						min-width:30px;
						min-height:30px;
						position:relative;
						margin-left: 20px;
						div{
							transition: 0.3s;
							width: 100%;
							height: 2px;
							border-radius: 1px;
							background-color: #c1c1c1;
							position: absolute;
							top: calc(50% - 1px);
							left: 0;
							&:first-of-type {
								-webkit-transform: rotate(-45deg);
								transform: rotate(-45deg);
							}
							&:last-of-type {
								-webkit-transform: rotate(45deg);
								transform: rotate(45deg);
							}
						}
					}
					.images-preview{
						padding-top:0;
						display:flex;
						justify-content:flex-end;
						.scroll-pre{
							direction: rtl;
						}
						picture{
							width:98px;
							height:72px;
						}
					}	
				}
				
				
				.container-full{
					display: flex;
    				justify-content: center;
					margin:30px 0 0 0;
					img{
						width:100%;
						//max-width:1500px
					}
				}
			}
			.images-preview{
				padding-top:7px;
				display: flex;
				width:100%;
				
				.scroll-pre{
					display: flex;
					width: fit-content;
					
					width:100%;
					height:100%;
					padding-bottom:5px;
					overflow-x:scroll;

					&::-webkit-scrollbar { 
						width: 100%;
						height: 3px;
						margin-top: 3px;
						border-radius:2px;
						overflow:hidden;
					}
					&::-webkit-scrollbar-track {
						-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
					}
					&::-webkit-scrollbar-thumb {
						background-color: #4a90e2;
						outline: 1px solid green;
					}	
					picture{
						height:96px;
						cursor: pointer;
						min-width:130px;
						width:130px;
						overflow:hidden;
						margin-right:10px;
						border-radius: 5px;
						box-sizing: border-box;
						&.active{
							border: 2px solid #4a90e2;
						}
						img{
							width:100%;
							height:100%;
							object-fit:cover;
							object-position: top;
						}
					}
				}
				
			}
		}
	}
	@media only screen and (max-width: 1100px) {
		$margin: calc(100vw / 320 * 20);
		.view{
			.scroll{
				padding: calc(100vw / 320 * 60) $margin calc(100vw / 320 * 30) $margin;
				box-sizing: border-box;
				.box{
					margin:0;
					.top{
						height: calc(100vw / 320 * 68)
					}
					.content{
						margin: calc(100vw / 320 * 10) 0 calc(100vw / 320 * 15) 0;
						.attachments{
							.desc{
								padding-left:calc(100vw / 320 * 15);
								font-size: calc(100vw / 320 * 10);
								line-height: calc(100vw / 320 * 17);
							}
							svg{
								height: calc(100vw / 320 * 17);
							}
						}
						.images-preview{
							width:100%;
							overflow-x:scroll;
							picture{
								margin: calc(100vw / 320 * 7) 0 0 calc(100vw / 320 * 7);
								width:calc(100vw / 320 * 65);
								height:calc(100vw / 320 * 48);
								padding: 0;
								&:first-of-type{
									margin-left: calc(100vw / 320 * 15)
								}
							}
						}
					}
				}
				.controls{
					position:relative;
					margin-top: calc(100vw / 320 * 22);
					padding: 0 calc(100vw / 320 * 50);
					.btns{
						width: 100%;
						margin:0;
						text-align:center;
						.btn{
							font-size:calc(100vw / 320 * 11);
							line-height:  calc(100vw / 320 * 14);
							text-align:center;
							width:100%;
							span{
								color: #4a90e2;
								display:block;
							}
							&:first-of-type{
								display:none;
							}
						}
					}
					.arrow{
						height: calc(100vw / 320 * 17);
						&.left{
							left:0
						}
						&.right{
							right:0
						}
					}
				}
			}
		}
	}
	@media only screen and (max-width: 1366px) and (min-width: 1000px) {
		.highlights{
			.grid-container{
				.grid-item{
					width:30%;
					height:15vw
				}
			}
		}
	}
	@media only screen and (max-width: 1000px) and (min-width: 700px) {
		.highlights{
			padding:calc(100vw / 320 * 75) calc(100vw / 320 * 20);
			h3{
				padding-bottom:50px;
			}
			.grid-container{
				padding: 0;
				.grid-item{
					width:calc(50% - 28px);
					height:30vw
				}
			}
		}
	}
	@media only screen and (max-width: 700px){
		.highlights{
			padding:calc(100vw / 320 * 75) calc(100vw / 320 * 20);
			h3{
				padding-bottom:30px;
			}
			.grid-container{
				padding: 0;
				.grid-item{
					width:100%;
					height: 60vw;
				}
			}
		}		
	}
</style>
