<template>
    <div class="sticky-menu active scroll" :class="{transparent: (transparent && state == 0), toggle: toggle, onlyMobile: onlyMobile}">
        <div class="mobile">
            <logoMobile/>
            <div class="menu-switcher"  v-on:click="toggleMenu()">
                <div class="container">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="main-nav">
            <div class="left-menu">
                <a href="/services"><div class="left main-li">Our Services</div></a >
                <a href="/about"> <div class="left main-li">About Us</div></a>
                <a href="/"><div class="left main-li">Homepage</div></a>
            </div>  
            <a href="/"><div class="logo">
                <logo/>
            </div></a>
            <div class="right-menu">

                <a href="/projects/"><div class="right main-li">Our Projects</div></a>
                <a href="/blog/"><div class="right main-li">Our Blog</div></a>
                <div class="right main-li blog-type">
                    <a href="/contact/">Contact now</a>
                </div>
            </div>
            <div class="social-wrap">
                <a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener">
                    <medium/>
                </a>
                <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener">
                <instagram/>
                </a>
                <a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener">
                    <facebook/>
                </a>
                <a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener">
                    <twitter/>
                </a>
            </div>
        </div>
    </div>
</template>
<script>
import logo from '@/assets/svg/logo.svg'
import logoMobile from '@/assets/svg/logomobile.svg'
import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'
export default {
    props: ['page','menuType'],
    data(){
        return{
            state: 0,
            active: true, //for hide
            offsetOld: 0,
            toggle: false,
            device: 'desktop',
        }
    },
    components:{
        logo,
        logoMobile,
        facebook,
        instagram,
        medium,
        twitter
    },
    computed:{
      onlyMobile(){
        if(this.$route.name == "Single Post"){
          return true
        }else{
          return false
        }
      },
      transparent(){
        return this.$route.matched[0].props.default.menu;
      }
    },
    methods:{
        handleScroll(){
          var offset = window.pageYOffset;
          if(offset >= 26 && this.device == 'desktop' && this.transparent){
            this.state = 1;
          }else{
            this.state = 0;
          }
          /*if(this.menuType){
              if(offset >= 200 && this.device == 'desktop'){
                  this.state = 2;
                  this.smartHide();
              }
              else if(offset >= 110 && this.device == 'desktop'){
                  this.state = 1;
                  this.active = false
              }
              else{
                  this.state = 0
              }
          }
          else{
              this.smartHide();
          }
          this.offsetOld = offset;*/
        },
        smartHide(){
            if(!this.toggle){
                this.active = this.offsetOld > window.pageYOffset;
            }
        },
        toggleMenu(){
            this.toggle = !this.toggle;
        },
        scrollTop(){
          //var el= document.querySelector('header');
         // el.scrollIntoView({behavior: "smooth"});
      }
    },
    mounted(){

        window.addEventListener("scroll", this.handleScroll, false);

        window.addEventListener('scroll', this.handleScroll);
        if( window.innerWidth <=800){
            this.device = 'mobile'
        }
        else{
            this.device = 'desktop'
        }

    }
}
</script>
<style lang="scss">
  .sticky-menu{
    width: 100%;
    height: 81px;
    z-index: 99;
    box-sizing: border-box;
    background-color: transparent;
    top: 0px;
    position: absolute;
    color: #ffffff;
    transition: background-color 0.3s cubic-bezier(0.47, 0, 0.75, 0.72), top 0s;
    .mobile{
      display: none;
    }
    .main-nav{
      position: relative;
      text-align: center;
      display: flex;
      max-width: 1366px;
      height: 100%;
      margin: 0 auto;
      font-size: 0;
      .social-wrap{
        display: none;
      }
      .left-menu,
      .right-menu{
        display: inline-block;
        width: 50%;
        box-sizing: border-box;
        a{
          .main-li{
            opacity: 0.62;
          }

          &.active{
            .main-li{
              opacity: 1;
            }

          }
        }
        .main-li{
          font-size: 10px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: 1px;
          box-sizing: border-box;
          display: inline-block;
          text-transform: uppercase;
          text-decoration: none;
          padding: 32px 28px 36px 28px;
          text-align: center;

          &.active{
            opacity: 1 !important;
            font-weight: bold;
          }
          &:hover{
            opacity: 1 !important;
          }
          &.blog-type{
            opacity: 1 !important;

            a{
              width: 121px;
              height: 29px;
              color: #0f1216;
              background-color: transparent;
              overflow: hidden;
              padding: 8px 20px;
              position: relative;
              &:before,
              &:after{
                content: "";
                position:absolute;
                left: 0;
                top:0;
                height: 100%;
                width: 100%;
                border-radius: 3px;
              }
              &:before{
                background-color: #d5d5d5;
                z-index: -1;
                opacity: 0;
                transition: .5s;
              }
              &:after{
                z-index: -2;
                background-color: #ffffff;

              }
              &:hover{
                &:before{
                  opacity: 1;
                }
              }
            }
          }
        }
      }
      .left-menu{
        padding: 0 105px 0 0;
        div{
          float: right;
        }
      }
      .right-menu{
        padding: 0 0 0 105px;
        div{
          float: left;
        }
      }
      .logo{
        box-sizing: border-box;
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;
        position: absolute;
        left: 50%;
        margin-left: -80px;
        cursor: pointer;
        svg{
          height: 36px;
          fill: #ffffff;
          opacity: 1;
        }
      }

    }
    &.scroll:not(.transparent){
      background-color: white;
      position: fixed;
      top: 0;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.15);
      color: #0f1216;
      .blog-type{
        a{
          color: #fff !important;
          &:before{
            background-color: #535353;

          }
          &:after{
            background-color: #0f1216 !important;
          }
        }

      }
      .logo {
        svg{
          transition: 0.6s;
          fill: #0f1216;
          opacity: 0.62;
          &:hover{
            opacity:0.8;
          }


        }
      }
    }
    &.transparent{
      transition: background-color 0.3s cubic-bezier(0.47, 0, 0.75, 0.72), top 0s;
      box-sizing: border-box;
      background-color: transparent;
      top: 26px;
      color: #fff;
      position: absolute;
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    .sticky-menu,.sticky-menu.transparent{
      width: 100%;
      height: calc(100vw / 320 * 54);
      background-color: white;
      top: 0;
      position: fixed;
      overflow: visible;
      &.toggle{
        .mobile{
          .menu-switcher{
            .container{
              div{
                &:nth-of-type(1){
                  transform: translateY(calc(100vw / 320 * 5)) rotate(-45deg);
                }
                &:nth-of-type(2){
                  transform: translateX(calc(100vw / 320 * 6));
                  opacity: 0;
                }
                &:nth-of-type(3){
                  transform: translateY(calc(100vw / 320 * (-6))) rotate(45deg);
                }
              }
            }
          }
        }
        .main-nav{
          transform: translateY(0);
        }
      }
      .mobile{
        width: 100%;
        height: 100%;
        display: flex;
        background-color: white;
        svg{
          height: calc(100vw / 320 * 16);
          width: auto;
          padding: calc(100vw / 320 * 19) 0  calc(100vw / 320 * 19) calc(100vw / 320 * 20) ;
        }
        .menu-switcher {
          height: calc(100vw/320 * 54);
          width: calc(100vw/320 * 54);
          margin-left: auto;
          .container{
            height: calc(100vw/320 * 14);
            width: calc(100vw/320 * 23);
            padding: 0;
            position: absolute;
            top: 50%;
            right: calc(100vw/320 * 25);
            margin-top: calc(100vw/320 * -6);

            div{
              transition: 0.5s;
              width: 100%;
              height: 1px;
              border-radius: 2.3px;
              background-color: #535353;
              margin-bottom: calc(100vw/320 * 4.5);
              &:nth-of-type(2){
                margin-left: calc(100vw/320 * 7);
                width: calc(100% - (100vw/320 * 7));
              }
            }
          }
        }
      }
      .main-nav{
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        width: 100%;
        height: calc( 100vh - (100vw/320 * 54) );
        padding-bottom: calc(100vw / 320 * 40);
        padding-top: calc(100vw / 320 * 5);
        background-color: white;
        box-sizing: border-box;
        transform: translateY(-100%);
        z-index: -1;
        transition: .7s ease-in-out;
        .logo{
          display: none;
        }
        .left-menu,.right-menu{
          padding: 0;
          width: 100%;
          display: flex;
          flex-direction: column;
          .main-li{
            float: none;
            display: block;
            padding: 0;
            line-height: calc(100vw / 320 * 50);
            color: #0f1216;
            font-size: calc(100vw / 320 * 12);
            &.blog-type{
              margin: calc(100vw / 320 * 27) auto calc(100vw / 320 * 27) auto;
              background-color: #0f1216;
              height: calc(100vw / 320 * 50);
              width: calc(100vw / 320 * 268);

              line-height: 50px;
              border-radius: 5px;
              a{
                color: #ffffff;
                padding: 0;
                line-height: calc(100vw / 320 * 50);
                height: calc(100vw / 320 * 50);
                width: 100%;
                display: block;
              }

            }
          }
          a{
            &.active{
              .main-li{
                opacity: 1;
                font-weight: 500;

              }
            }
          }
        }
        .left-menu{
          flex-direction: column-reverse;
        }
        .social-wrap{
          padding: 0 calc(100vw / 320 * 60);
          display: flex;
          justify-content: space-between;
          float: none;
          margin-top: auto;
          a{
            svg{
              fill: #0f1216;
              height: calc(100vw / 320 * 22);
              padding: 0;
              width: auto;
              opacity: 0.33;
            }
          }
        }
      }
    }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    .sticky-menu{
      height: 80px;
      &.toggle{
        .mobile{
          .menu-switcher{
            .container{
              div{
                &:nth-of-type(1){
                  transform: translateY(12px) rotate(-45deg);
                }
                &:nth-of-type(3){
                  transform: translateY(-11px) rotate(45deg);
                }
              }
            }
          }
        }
      }
      .mobile{
        svg{
          height: 26px;
          padding: 27px;
        }
        .menu-switcher{
          height: 80px;
          width: 80px;
          .container{
            height: 27px;
            width: 48px;
            right: 27px;
            div{
              margin-bottom: 11px;
            }
          }
        }
      }
      .main-nav{
        height: calc( 100vh - 79px );
        padding: 20px 0 80px 0;
        .left-menu,
        .right-menu{
          .main-li{
            line-height: calc(100vw/768 * 100);
            font-size: calc(100vw/768 * 26);
            &.blog-type{
              width: 400px;
              height: 78px;
              font-size: 20px;
              letter-spacing: 1px;
              a{
              line-height: 78px;
                height: 78px;

              }
            }
          }
        }
      }
    } 
  }
  @media only screen and (max-width:1200px) and (min-width: 1101px) {
    .sticky-menu .main-nav .left-menu .main-li, .sticky-menu .main-nav .right-menu .main-li {
      padding: 32px 20px 36px 20px;
    }
  }
  @media only screen and (min-width: 1100px){
    .sticky-menu.onlyMobile{
      display:none;
    }
  }
</style>

