<template>
    <div class="wall" :class="{ready: ready, hide: hide, fade: fade}">
      <div class="slider">
          <div class="center">
              <div class="info">
                  <div class="heading">
                      <span class="container" v-for="(line, i) in lines" :key="i">
                          <span>{{ line }}</span><br>
                          <div>
                            <div></div>
                          </div>
                      </span>
                  </div>
                  <div class="under-heading" v-html="projects[active].acf.slide_subheading"></div>
                  <a :href="'/projects/' + projects[active].slug"><button class="gradient_blue">INSPIRE NOW</button></a>
              </div>
              <div class="image" >
                  <div class="container">
                      <div></div>
                  </div>
                  <div class="image-container" v-bind:style="{ backgroundImage: 'url(' + projects[active].acf.slide_image.url + ')'}">
                  </div>
              </div>
          </div>
          <div class="next" @click="changeSlide(1)">
              <arrowSvg/>
          </div>
          <div class="prev" @click="changeSlide(-1)">
              <arrowSvg/>
          </div>
      </div>
      <div class="menu">
          <div class="container">
              <div class="last" v-bind:data-number="0+String(prev+1)" @click="changeSlide(-1)">
                  <span class="pre">LAST</span>
                  <span class="separator">
                      <svg height="180" width="100">
                          <line x1="0" y1="180" x2="100" y2="0" style="stroke:#4a90e2;stroke-width:2" />
                      </svg>
                  </span>
                  <span class="separator">
                      <svg height="180" width="100">
                          <line x1="0" y1="180" x2="100" y2="0" style="stroke:#4a90e2;stroke-width:2" />
                      </svg>
                  </span>
                  <span class="name">{{ projects[prev].acf.slide_name }}</span>
              </div>
              <div class="center" v-bind:data-number="0+String(next+1)">
                  <span class="number">{{ active+1 }}</span>
                  <span class="separator">
                      <svg height="180" width="100">
                          <line x1="0" y1="180" x2="100" y2="0" style="stroke:#4a90e2;stroke-width:2" />
                      </svg>                        
                      <span>/</span>
                  </span>
                  <span class="number">{{ projects.length }}</span>
              </div>
              <div class="next" v-bind:data-number="0+String(next+1)" @click="changeSlide(1)">
                  <span class="pre">NEXT</span>
                  <span class="separator">
                      <svg height="180" width="100">
                          <line x1="0" y1="180" x2="100" y2="0" style="stroke:#4a90e2;stroke-width:2" />
                      </svg>
                  </span>
                  <span class="separator">
                      <svg height="180" width="100">
                          <line x1="0" y1="180" x2="100" y2="0" style="stroke:#4a90e2;stroke-width:2" />
                      </svg>
                  </span>
                  <span class="name">{{ projects[next].acf.slide_name }}</span>
              </div>
          </div>
      </div>
      <div class="paralax" v-bind:class="{start: paralax}">
          <div class=paralaxImage>
              <div class=layer>
                  <img :src="projects[clicked].acf.slide_image.url" alt='Project'>
              </div>
          </div>
      </div>
    </div>
</template>
<script>
import arrowSvg from '@/assets/svg/left-arrow.svg'

export default {
  props: {'projects': Array},
  data(){
    return{
      active: 0,
      paralax: false,
      ready: false,
      hide:false,
      device: 'desktop',
      fade: false,
      clicked: 0,
    }
  },
  components:{
    arrowSvg
  },
  methods:{
    changeSlide(i){
      if(!this.paralax && this.device == 'desktop'){
        if(i>0){
          this.clicked = this.next
        }else{
          this.clicked = this.prev
        }
        this.paralax = true;
        setTimeout(() => {
          this.paralax = false;
          this.hide = true;
          this.ready = false;
          this.checkSlide(i);
          setTimeout(() => {
            this.hide = false;
            this.ready = true;
          }, 50);
        }, 2000);
      }else if(!this.paralax && this.device == 'mobile'){
        this.fade = true;
        setTimeout(() => {
          this.hide = true;
          this.ready = false;
          this.fade = false;
          this.checkSlide(i);
          setTimeout(() => {
            this.hide = false;
            this.ready = true;
          }, 100);
        }, 1000);
      }
    },
    checkSlide(i){
      if(i<0){
        if(this.active!=0){
          this.active = this.active-1;
        }else{
          this.active = this.projects.length -1;
        }
      }
      else{
        if(this.active != this.projects.length-1){
          this.active = this.active + 1
        }else{
          this.active = 0
        }
      }
    }
  },
  computed:{
    next(){
      if(this.active != this.projects.length -1){
        return this.active + 1
      }else{
        return 0
      }
    },
    prev(){
      if(this.active != 0){
        return this.active - 1
      }else{
        return this.projects.length - 1;
      }
    },
    lines(){
      if(this.device != 'mobile'){
        return this.projects[this.active].acf.slide_lines.split('//')
      }else{
        return this.projects[this.active].acf.slide_lines_mobile.split('//')
      }
    }
  },
  mounted(){
    setTimeout(() =>{
      this.ready = true;
    }, 500);
    if( window.innerWidth <=750){
      this.device = 'mobile'
    }
    else{
      this.device = 'desktop'
    }
  },
 
}
</script>
<style lang="scss">
  .wall{
    transform: none;
    width: 100%;
    height: 100vh;
    background-color: #0f1216;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    .slider{
      width: 100%;
      height: 100%;
      display: block;
      margin: 0 auto;
      padding: calc(100vw/1366 * 130) 0;
      box-sizing: border-box;
      .center{
        margin: 0 auto;
        width: calc(100vw/1366 * 1000);
        height: 100%;
        max-height: 550px;
        position: relative;
        .info{
          width: 630px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 10;
          .heading{
            font-size: 50px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: 56px;
            letter-spacing: -1.1px;
            color: #ffffff;
            position: relative;
            z-index: 10;
            .container{
              position: relative;
              display: inline-flex;
              span{
                vertical-align: middle;
                opacity: 0;
                transition-duration: 1s;
                transition-delay: 1.2s;
              }
              &:nth-of-type(2){
                span{
                  transition-delay: 1.4s;
                }
                div{
                  transition-delay: 0.4s;
                  div{
                    transition-delay: 1.4s;
                  }
                }
              }
              div{
                position: absolute;
                left: 0;
                width: 0;
                height: 100%;
                top: 0;
                transition-duration: 1s;
                transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);
                transform: translateY(6px);
                div{
                  width: 100%;
                  height: 100%;
                  position: absolute;
                  right: 0;
                  background-color: #191c23;
                  top: -6px;
                  transition-duration: 1s;
                  transition-delay: 1s;
                  left: auto;
                }
              }
            }


          }
          .under-heading{
            margin: 20px 0 31px 0;
            font-size: 16px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: 20px;
            letter-spacing: -0.3px;
            color: #ffffff;
            opacity: 0;
            transform: translateY(-20px);
            transition-duration: .7s;
            transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);
            transition-delay: 1.6s;
            z-index: 5;
          }
          button{
            transform: translateY(-20px);
            transition-duration: .7s;
            transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);
            transition-delay: 2s;
            opacity: 0;
          }
        }
        .image{
          width: calc(100vw/1366 * 625);
          height: 100%;
          margin-left: auto;
          overflow: hidden;
          position: relative;
          border-radius: 7px;
          .container{
            width: 0;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            transition-duration: 1s;
            transition-delay: 0.3s;
            transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);
            z-index: 2;
            div{
              background-color: #000;
              position: absolute;
              right: 0;
              top: 0;
              width: 100%;
              height: 100%;
              transition-duration: 1s;
              transition-delay: 1.4s;
              transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);
            }
          }
          .image-container{
            width: 100%;
            height: 100%;
            background-size: cover;
            opacity: 0;
            background-position: center center;
          }
        }
      }
      .next,.prev{
        position: absolute;
        top:50%;
        cursor: pointer;
        opacity: 0;
        transition: 2s;
        svg{
          transform: translateY(-0%);
          width: auto;
          height: 17px;
          fill: #fff;
        }
      }
      .next{
        right:35px
      }
      .prev{
        left: 35px;
        transform: rotate(180deg);
      }
    }
    .menu{
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      height: 130px;
      overflow: hidden;
      .container{
        width: calc(100vw/1366 * 1000);
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        position: relative;
        .last,.next,.center{
          font-size: 10px;
          line-height: 130px;
          letter-spacing: 3.7px;
          color: #fff;
          width: 40%;
          font-weight: bold;
          text-transform: uppercase;
          .pre{
            color: #909090;
            letter-spacing: 4px;
            padding-right: 9px;

          }
          .separator{
            position: relative;
            width: 2px;
            height: 15px;
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            svg{
              position: absolute;
              right: 4px;
              top: 0;
              line{
                stroke-dasharray: 103;
                stroke-dashoffset: 206;
              }
            }
          }
          .name{
            padding-left: 3px;
          }
          .pre,.name,.number{
            transition-delay: 2.5s;
            transition-duration: 1s;
            transform: translateY(5px);
            opacity: 0;
            display: inline-block;
          }
        }
        .next,.last,.center{
          cursor: pointer;
          z-index: 10;
          &:before{
            z-index: -1;
            content: attr(data-number);
            font-size: 250px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            letter-spacing: normal;
            color: #191c23;
            position: absolute;
            height: 210px;
            top: 0;
            line-height: 223px;
            left: 0;
            transform: translateY(20px);
            opacity: 0;
            transition-duration: .7s;
            transition-delay: 2.5s;
            transition-timing-function: cubic-bezier(0.63, 0.01, 0.18, 0.93);

          }
        }
        .next{
          text-align: right;
          .pre{
            margin-left: auto;
          }
          &:before{
            right: 0;
            left: auto;
          }
        }
        .center{
          width: auto;
          cursor: auto;
          &:before{
            z-index:-9999;
            font-size: 0;
          }
          .separator{
            padding-left: 8px;
          }
        }
      }
    }
    &.ready{
      .slider{
        .center{
          .info{
            .heading{
              span{
                div{
                  width: 100%;
                  overflow: hidden;

                  div{
                    width: 0;

                  }
                }
                span{
                  opacity: 1;

                }
              }

            }
            .under-heading,button{
              opacity: 1;
              transform: translateY(0px);
            }
          }
          .image{
            .container{
              width: 100%;
              div{
                width: 0;
              }
            }
            .image-container{
              transition-delay: 1.3s;
              opacity: 1;
            }
          }
        }
        .next,.prev{
          opacity: 0.5;
          transition: 1s;
          &:hover{
            opacity: 1;
          }
        }
      }
      .menu{
        .container{
          .next,.last,.center{
            .separator{
              svg{
                line{
                  animation-delay: 1.5s !important;
                  animation: dash 1s cubic-bezier(0.63, 0.01, 0.18, 0.93) forwards;

                }
              }
            }
            .pre,
            .name,
            .number{
              opacity: 1;
              transform: translateY(0);
            }
            &:before{
              transform: translateY(0px);
              opacity: 1;
            }
          }

        }

      }
    }
    .paralax{
      position:absolute;
      left:0;
      top:0;
      height:100%;
      width:100%;
      background-color: #0f1216;
      transform: translate(-100%);
      z-index: 999;
      animation-timing-function:cubic-bezier(0.46, 0, 0.54, 0.85);
      .paralaxImage{
        width:10vw;
        height:100%;
        overflow:hidden;
        right:0;
        top:0;
        position:absolute;
        animation-timing-function: cubic-bezier(0.4, 0.19, 0.59, 0.92);
        .layer{
          overflow:hidden;
          width:100%;
          height:100%;
          right:0;
          top:0;
          position:absolute;
          animation-timing-function: cubic-bezier(0.6, 0.29, 1, 1)

        }
        img{
          height:100%;
          width:auto;
          position: absolute;
          top: 50%;
          right: 50%;
          transform: translate(50%,-50%);
        }

      }
      &.start{
        animation-name: paralax;
        animation-duration: 1.6s;
        animation-fill-mode: forwards;
        .paralaxImage{
          animation-name: paralaxImage;
          animation-duration: .8s;
          animation-fill-mode: forwards;
          animation-delay:.4s;
          .layer{
            animation-name: iAnimation;
            animation-duration: .8s;
            animation-fill-mode: forwards;
            animation-delay:1s;
          }
        }
      }
    }
    @keyframes paralax{
      to{
        transform: translateY(0);
      }
    }
    @keyframes paralaxImage{
      to{
        width: 50vw;
      }
    }
    @keyframes iAnimation{
      to{
        width:0;
      }
    }
    @keyframes dash {
      to{
        stroke-dashoffset: 14;
      }
    }
    &.hide{
      .slider,.menu{
        *{
          transition-delay: 0s !important;
          transition: 0s !important;
          transition-duration: 0s !important;
          &:before{
            transition-delay: 0s !important;
            transition: 0s !important;
            transition-duration: 0s !important;
          }
        }
      }
    }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    .wall{
      .slider{
        margin: 0 calc(100vw / 320 *20) 0 calc(100vw / 320 *20);
        padding: calc(100vw / 320 *80) 0 0 0;
        width: calc(100% - (100vw / 320 *40));
        height: calc(100% - (100vw / 320 *85));
        .center{
          width: 100%;
          position: relative;
          display: flex;
          height: 100%;
          .info{
            width: 100%;
            position: relative;
            top: auto;
            transform: none;
            align-self: flex-end;
            .heading{
              font-size: calc(100vw / 320 *34);
              line-height: calc(100vw / 320 *36);
              .container{
                &>div{
                  top:calc(100vw / 320 *(-2));
                }
              }

            }
            .under-heading{
              font-size: calc(100vw / 320 *15);
              line-height: calc(100vw / 320 *20);
              letter-spacing: calc(100vw / 320 *(-0.2));
              br{
                display: none;
              }
            }
          }
          .image{
            width: 100%;
            height: 37vh;
            top: 0;
            position: absolute;
            left: 0;
            img{
              height: 100%;
              width: auto;
            }
          }
          &:before{
            display: block !important;
            z-index: 1;
          }
        }
        .next,.prev{
          top: auto;
          bottom: 0;
          height: calc(100vw / 320 *85);
          line-height: calc(100vw / 320 *85);
          z-index: 20;
          display: flex;
          align-items: center;
        }
      }
      .menu{
        height: calc(100vw / 320 *85);
        line-height: 115px;
        .container{
          max-height: none;
          width: calc(100% - (100vw / 320 *40));
          .last,.next{
            display: none;
          }
          .center{
            width: 100%;
            text-align: center;
            line-height: calc(100vw / 320 *85) !important;
            .separator {
              font-size: calc(100vw / 320 *14);
              width: auto;
              height: auto;
              padding: 0;
              vertical-align: baseline;
              color: #4a90e2;
              svg{
                display: none;
              }
            }
            .number{
              font-size: calc(100vw / 320 *12);
            }
              &:before{
              width: 100%;
              font-size: calc(100vw / 320 *180);
              line-height: calc(100vw / 320 *170);
              text-align: center;
            }
          }
        }
      }
      &.ready{
        .menu{
          .container{
            .center{
              .separator{
                svg{
                  line{
                    opacity: 1;
                    transform: translateY(0px);
                  }
                }
              }
            }
          }
        }
      }
      .paralax{
        transform: translateY(-100%);
        display: none;
        .paralaxImage{
          width: 100vw;
          height: 10vh;
          bottom: 0;
          top: auto;
          .layer{
            bottom: 0;
            top: auto;
            img{
              width: 100%;
              height: auto;
            }
          }
        }
        &.start{
          animation-name: paralax;
          animation-duration: 1.6s;
          animation-fill-mode: forwards;
          .paralaxImage{
            animation-name: paralaxImageMobile;
            animation-duration: .8s;
            animation-fill-mode: forwards;
            animation-delay:.4s;
            .layer{
              animation-name: iAnimationMobile;
              animation-duration: .8s;
              animation-fill-mode: forwards;
              animation-delay:1s;
            }
          }
        }
      }
      &.hide{
      }
      &.fade{
        .slider,.menu{
          *{
            transition-delay: 0s !important;
            transition: 1s !important;
            transition-duration: 1s !important;
            opacity: 0;
            &:before{
              transition-delay: 0s !important;
              transition: 1s !important;
              transition-duration: 1s !important;
              opacity: 0;
            }
          }
        }
      }
      @keyframes paralaxImageMobile{
        to{
          height: 50vh;
        }
      }
      @keyframes iAnimationMobile{
        to{
          height:0;
        }
      }
    }
  }
  
  @media only screen and (max-width:1100px) and (min-width: 750px){
    .wall{
      .slider{
        padding: 30vh 0 0 0;
        .center{
          max-height: none;
          margin-top: auto;
          .image{
            img{
              width: 100%;
              height: auto;
            }
            .container{

            }
          }
          .info{
            .heading{
              font-size: 46px;
              line-height: 60px;
              .container{
                display: initial;
              }
            }
            .under-heading{
              font-size: 22px;
              line-height: 30px;
              max-width: 70%;
            }
          }
        }
      }
      .menu{
        .container{
          .center{
            .number{
              font-size: 16px;
            }
            .separator{
              font-size: 18px;
            }
          }
        }
      }
    }
  }
</style>
