<template>
    <div class="block_3" v-if="services">
        <h2 class="heading48">{{ services_heading }}</h2>

         <div class="service-row" v-for='(service, i) in services' :key='i'>
              <picture class="glitch-container">
                  <img :src="service.featured_image.large" alt='Service'>
              </picture>
              <div class="service-text">
                  <h4 class="service-header" v-html="service.title"></h4>
                  <span class="service-about small-text-classic" v-html="service.acf.short_text_for_all_service_page"></span>
                  <a href="/contact/"><button class="gradient_blue service-button"><span>Get free consultation</span></button></a>
              </div>
            </div>
        <div class="services-q heading48">{{services_end_question}}</div>
        <span class="under-h3 small-text-classic">{{ services_end_sub_question }} </span>
        <div style="border-radius: 3px; overflow: hidden">
            <a href="/contact/"><button class="gt-homepage dark">{{services_end_button_text}}</button></a>
        </div>
    </div>
</template>
<script>
export default {
  props: ['services','services_heading', 'services_end_sub_question', 'services_end_button_text' ,'services_end_question']
}
</script>
<style lang="scss">
  $Oranienbaum: 'Oranienbaum', serif;
  .block_3{
        background-color: #0f1216;
        padding-top: 107px;
        text-align: center;
        position: relative;
        overflow: hidden;
        .service-row{
        height: 464px;
        position: relative;
        padding: 0 calc(100vw/1366 * 372);
        margin: 0 auto;
        width: 90vw;
        box-sizing: border-box;

        &:nth-of-type(odd){
            padding: 0 0 0 calc(100vw/1366 * 530);
            text-align: left;
            .glitch-container{
            left: 0;
            }
        }
        &:nth-of-type(even){
            padding: 0 calc(100vw/1366 * 530) 0 0;
            text-align: right;
            .glitch-container{
            right: 0;
            }
            .service-text{
            float: right;
            .service-about{
                margin-left: auto;
            }
            }
        }
        .glitch-container{
            overflow: hidden;
            opacity: 0.7;
            border-radius:3px;
            height: 500px;
            width: calc(100vw/1366 * 484);
            position: absolute;
            top: -18px;
            z-index: 15;
            box-sizing: border-box;
            img{
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
        }
        .service-text{
            padding-top: 130px;
            max-width: 777px;
            position: relative;
            z-index: 10;
            .service-header {
              display: block;
              font-family: $Oranienbaum;
              font-size: 48px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: 0.72;
              letter-spacing: normal;
              color: #ffffff;
              padding-bottom: 21px;
            }
              .service-about{
              width: 90%;
              font-size: 14px;
              font-weight: 400;
              font-style: normal;
              font-stretch: normal;
              line-height: 1.67;
              letter-spacing: normal;
              color: #ffffff;
              display: block;
            br{
                display: none;
            }
            .trikcy-br{
                display:none;
            }
            }
            .service-button{
              width: 280px;
              border-radius: 3px;
              box-shadow: 0 10px 23px -11px rgba(74, 144, 226, 0.66);
              margin-top: 39px;
              z-index: 5;
            }
        }
        }
        h2{
        z-index: 10;
        color: #ffffff;
        padding: 0 0 106px 0;
        display: block;
        position: relative;
        
        }
        .services-q{
          font-family: $Oranienbaum;
          padding: 147px 0 16px 0;
          color: #ffffff;
          z-index: 10;
          position: relative;
        }
        .under-h3{
        font-size: 12px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
        z-index: 10;
        display: block;
        position: relative;
        }
        .gt-homepage.dark{
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 2px;
        text-align: center;

        width: 275px;
        height: 46px;
        border-radius: 3px;
        background-origin: border-box;
        background-clip: content-box, border-box;

        color: #ffffff;
        background-color: transparent;
        position: relative;
        z-index: 10;
        margin: 57px 0 107px 0;
        text-transform: uppercase;
        border: solid 2px #4a90e2;
        &:before{
            transition: 1s;
            content: "";
            opacity: 0;
            position:absolute;
            border-radius: 3px;
            z-index: -1;
            top: -2px;
            left: -2px;
            bottom: -2px;
            right: -2px;
            background-color: #4a90e2;
        }
        &:hover{
            &:before{
            opacity: 1;
            }
        }
        }
        &:before{
        content: "";
        left: 0;
        z-index: 0;
        position: absolute;
        bottom: 0;
        transform: translateY(50%);
        width: 160%;
        margin-left: -30%;
        height: 863px;
        opacity: 0.75;
        background-image: radial-gradient(ellipse at 50% 70%, #4a90e2 0%, #0f1216 56%);
        animation: move 2s infinite alternate ease-in-out;
        }
        @keyframes move {
        from {transform: translateY(50%);}
        to {transform: translateY(45%);}
        }
  }
  @media only screen and (max-width: 1100px) {
    $margin: calc(100vw / 320 * 20);
    .block_3{
      padding: calc(100vw / 320 * 75) 0 0 0;
      &:before{
        background-image: radial-gradient(ellipse at 50% 99%, #4a90e2 0%, #0f1216 77%);
      }
      h2:first-of-type{
        padding-bottom: 50px;
      }
      .service-row{
        padding: 0 !important;
        height: auto;
        width: 100%;
        .glitch-container{
          position: relative;
          display:block;
          width: 100%;
          height: calc(100vw / 320 * 200);
        }
        .service-text{
          padding: 41px $margin 75px $margin;
          text-align: left !important;

          .service-button{
            margin-top: 39px;
            width: 100%;
          }
          .service-header{
            font-size: calc(100vw / 320 * 24);
            line-height:calc(100vw / 320 * 30);
          }
          .service-about{
            width: 100%;
            br{
              display: none;
            }
            .trikcy-br{
              display:block;
            }
          }

        }
      }
      h2{
        margin: 0 20px;
      }
      .under-h3{
        margin: 0 $margin;
        font-size: calc(100vw / 320 * 14);
      }
      .gt-homepage{
        width:  calc(100% - (100vw / 320 * 20 * 2)) !important;
        margin: calc(100vw / 320 * 30) $margin calc(100vw / 320 * 75) $margin !important;
        height: calc(100vh / 568 * 52)  !important;
        font-size: calc(100vw / 320 * 13) !important;
        letter-spacing: 1px !important;
      }
    }
    body#services{
    .block_3{
      padding-bottom: 0;
    }
  }
  }
  @media only screen and (max-width:1100px) and (min-width: 750px){
    
    .block_3{
      &:before{
        background-image: radial-gradient(ellipse at 50% 99%, #4a90e2 0%, #0f1216 70%);
        margin-left: -50%;
        width: 200%;
      }
      .service-row{
        .service-text{
          float: none !important;
          .service-header{
            font-size: 50px;
            line-height: 55px;
          }
          .service-about{
            font-size: 18px
          }
        }
      }
      h2{
        max-width: 500px;
        margin: 0 auto;
      }
      .under-h3{
        font-size: 22px;
        line-height: 33px;
        max-width: 570px;
        margin: 0 auto;
      }
      .gt-homepage{
        width: 400px !important;
        height: 78px !important;
        font-size: 20px !important;
        letter-spacing: 1px !important;
        margin: 40px 0 107px 0 !important;
      }
    }
  }
  @media only screen and (max-width:1200px) and (min-width: 1101px) {
    .block_3 .service-row .service-text .service-header {
      line-height: 1;
    }
  }
</style>