<template>
    <section class="sticky">
        <div class="sticky-circle" @click="triggerForm()">
            <speechBubble/>
        </div>
        <div class="sticky-form" :class="{active: active}">
            <div class="heading24">Want to contact us?</div>
            <a href="/form/"><button ><span>OPEN CONTACT FORM</span></button></a>
            <hr>
            <div class="heading24">Our social media</div>
            <div class="social-wrap">
                <a href="https://medium.com/@inshadowagency" target="_blank" rel="noopener" name='medium'>
                    <medium/>
                </a>
                <a href="https://www.instagram.com/inshadowagency/" target="_blank" rel="noopener" name='instagram'>
                <instagram/>
                </a>
                <a href="https://www.facebook.com/inshadowagency/" target="_blank" rel="noopener" name='facebook'>
                    <facebook/>
                </a>
                <a href="https://twitter.com/inshadowagency" target="_blank" rel="noopener" name='twitter'>
                    <twitter/>
                </a>
            </div>
            <hr>
            <div class="contacts">
                <div class="container">
                    <div class="icon">
                        <telephone/>
                    </div>
                    <span class="contacts-info">+371 29799476 <span>( LV )</span></span>
                    <div class="arrow">
                        <arrowSvg/>
                    </div>
                </div>
                <div class="container">
                    <div class="icon">
                        <telephone/>
                    </div>
                    <span class="contacts-info">+44 (0) 7447913838 <span>( UK )</span></span>
                    <div class="arrow">
                        <arrowSvg/>
                    </div>
                </div>
                <div class="container">
                    <div class="icon">
                        <mail/>
                    </div>
                    <span class="contacts-info">hello@inshadow.agency</span>
                    <div class="arrow">
                        <arrowSvg/>
                    </div>
                </div>
                <div class="container">
                    <div class="icon">
                        <mail/>
                    </div>
                    <span class="contacts-info">hire@inshadow.agency</span>
                    <div class="arrow">
                        <arrowSvg/>
                    </div>
                </div>
            </div>

        </div>
    </section>
</template>
<script>
import speechBubble from "@/assets/svg/speech-bubble.svg"
import facebook from '@/assets/svg/facebook.svg'
import instagram from '@/assets/svg/instagram.svg'
import medium from '@/assets/svg/monogram.svg'
import twitter from '@/assets/svg/twitter.svg'
import arrowSvg from '@/assets/svg/left-arrow.svg'
import telephone from '@/assets/svg/telephone.svg'
import mail from '@/assets/svg/email.svg'

export default {
    components:{
        speechBubble,
        facebook,
        instagram,
        medium,
        twitter,
        arrowSvg,
        telephone,
        mail
    },
    data(){
        return{
            active:false
        }
    },
    methods:{
        triggerForm(){
            this.active=!this.active;
        }
    }
}
</script>
<style lang="scss">
  $Oranienbaum: 'Oranienbaum', serif;

.heading24{
    font-family: $Oranienbaum
}
.sticky-circle{
  cursor: pointer;
  position: fixed;
  bottom: 62px;
  right: 62px;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #4a90e2;
  box-shadow: 0 0 25px 0 #4a90e2;
  z-index: 9999999;
  svg{
    fill:#fff;
    height: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}
.sticky-form{
  width: 309px;
  background-color: #ffffff;
  box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);
  position: fixed;
  bottom: 62px;
  right: 130px;
  text-align: center;
  padding: 37px 25px;
  box-sizing: border-box;
  z-index: -10;
  border-radius: 3px;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(10px);
  button{
    width: 185px;
    height: 36px;
    border-radius: 3px;
    background-color: #4a90e2;
    box-shadow: 0 8px 17px -8px rgba(74, 144, 226, 0.66);
    font-size: 9px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2.5px;
    text-align: center;
    color: #ffffff;
    position: relative;
    margin-top:18px;
    span{
      z-index: 20 !important;
      position: relative;
    }
    &:hover:before{
      opacity: 1;
    }
    &:before{
      content: "";
      background-image: linear-gradient(260deg, #89C4FF, #6077FB);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      z-index: 15;
      opacity: 0;
      transition: 1s;
    }
  }
  hr{
    border:none;
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin: 30px 0;
  }
  .social-wrap{
    text-align: center;
    float: none;
    padding-top: 16px;
    justify-content: center;
    a{
      svg{
        fill: #0f1216;
      }
      &:first-of-type{
        svg {
          padding-left: 0;
        }
      }

    }

  }
  .contacts{
    text-align: left;
    .container{
      cursor: pointer;
      position: relative;
      margin: 0 10px;
      .icon{
        display: inline-block;
        svg{
          width: 12px;
          fill: #0f1216;
          transition: 0.5s;
          transform: translateY(2px);
        }
      }
      .arrow{
        display: inline-block;
        svg{
          position: absolute;
          vertical-align: middle;
          height: 8px;
          width: 15px;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          fill: #bbac87;
          display: inline-block;
          transition: 0.5s;
        }
      }

      .contacts-info{
        padding-left:8px;
        font-size: 13px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: 27.3px;
        letter-spacing: normal;
        color: #0f1216;
        span {
          font-size: 11px;
          color: #909090;
          padding-left:4px;
        }
      }

      &:hover{
        .icon{
          &:before{
            color:#4a90e2;
          }

        }
        .icon-left-arrow:before{
          color:#4a90e2;
          display: inline-block;
          -webkit-animation: bounce322 2s infinite;
          -o-animation: bounce322 2s infinite;
          animation: bounce322 2s infinite;
        }
      }
    }
  }
  &:before{
    position:absolute;
    content: "";
    bottom:13px;
    right:-9px;
    z-index:9990000;
    width:9px;
    height: 16px;
    background-color: #fff;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 50%);
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
    box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);

  }
  &.active{
    z-index: 200;

    opacity: 1;
    transform: translateY(0px);
  }
}
@media only screen and (max-width: 1100px) {
  .sticky-circle{
    display: none;
  } 
}
</style>
