<template>
    <div class="about_block_5">
    <h3 class="heading48">{{hire_heading}}</h3>
    <span class="under-heading">{{hire_sub_heading}}</span>
    <div class="table">
        <div class="line heading">
            <span class="left">Position</span>
            <span class="center">Experience</span>
            <span class="right">Location</span>
        </div>
        <div class="line" v-for="(vacancy, i) in vacancies" :key='i' @click="formOpen(i)">
            <span class="left">{{ vacancy.title }}</span>
            <span class="center">{{ vacancy.acf.experience }}+ Year of Experience</span>
            <span class="right">{{ vacancy.acf.location }}</span>
        </div>
    </div>
    <div class="pop-up-overlay" v-bind:class="{active: formStatus }">
        <div class="hide" @click="formStatus = false"></div>
        <div class="pop-window" v-bind:class="{ sent: sent }">
            <div class="close-x" @click="formStatus = false">
                <div></div>
                <div></div>
            </div>
            <span class="heading">Application Form</span>
            <form class="application-form">
                <div class="input-container">
                    <input  class="int-input"  v-bind:class="{full: form.name!=''}"  value="" v-model="form.name" type="text" required >
                    <span class="input-about">Name<span> *</span></span>
                    <svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>
                </div>
                <div class="input-container">
                    <input  class="int-input" v-bind:class="{full: form.email!=''}"  value="" type="text" required v-model="form.email">
                    <span class="input-about">Email<span> *</span></span>
                    <svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>
                </div>
                <div class="input-container">
                    <input  class="int-input" v-bind:class="{full: form.phone!=''}" value="" type="text" required v-model="form.phone">
                    <span class="input-about">Phone number<span></span></span>
                    <svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>
                </div>
                <div class="input-container">
                    <input disabled class="int-input role full" v-model="form.position" type="text" required >
                    <span class="input-about">Position<span> *</span></span>
                    <svg class="graphic" width="300%" height="50px" viewBox="0 0 1200 60" preserveAspectRatio="none">
                        <path d="M0,56.5c0,0,298.666,0,399.333,0C448.336,56.5,513.994,46,597,46c77.327,0,135,10.5,200.999,10.5c95.996,0,402.001,0,402.001,0"/>
                    </svg>
                </div>
                <div class="file_upload">
                    <button type="button" @click="fakeBtn()">Attach CV</button>
                    <div>{{ fileName }}</div>
                    <input type="file" ref="fileInput" accept="image/*, text/plain, text/html, .pdf, .csv, .doc" v-on:change="updateFile()">
                </div>
            </form>
            <button class="gradient_blue" @click="sendApplication()">SEND REQUEST</button>
        </div>
				<div class="thank-you" v-bind:class="{ sent: sent}">
					<div class="heading44">Thank you for your request.</div>
					<div class="under">We will contact with you as soon as possible</div>
					<a href="/">
							<button class="gradient_blue" style="box-shadow: 0 10px 23px -11px rgba(74, 144, 226, 0.66);">BACK TO HOMEPAGE</button>
					</a>

				</div>
    </div>
</div>
</template>
<script>
export default {
	props: ['vacancies','hire_sub_heading','hire_heading'],
	data(){
		return{
			formStatus: false,
			active: 0,
			sent: false,
			form:{
					name: '',
					email: '',
					phone: '',
					position: '',
					cv: ''
			}
		}
	},
 	computed:{
		fileName(){
				if(this.form.cv !== ''){
						return this.truncate(this.form.cv.replace( "C:\\fakepath\\", ''), 6);
				}else{
						return 'File Not Choosen'
				}
		}
	},
	watch:{
			formStatus: function(val){
					this.form.position = this.vacancies[this.active].title + ', '  + this.vacancies[this.active].acf.location;
			}
	},
	methods:{
		formOpen(i){
				this.active = i;
				this.sent = false;
				this.formStatus = true;
		},
		fakeBtn(){
				document.querySelector('.file_upload input').click();
		},
		updateFile(){
			console.log()
			this.form.cv = this.$refs.fileInput.value;
		},
		truncate(n, len) {
				var ext = n.substring(n.lastIndexOf(".") + 1, n.length).toLowerCase();
				var filename = n.replace('.' + ext,'');
				if(filename.length <= len) {
						return n;
				}
				filename = filename.substr(0, len) + (n.length > len ? '[...]' : '');
				return filename + '.' + ext;
		},
		sendApplication(){
			this.sent =true;
		}
	}   
}
</script>
<style lang="scss" scoped>
$Oranienbaum: 'Oranienbaum', serif;
.about_block_5{
	text-align: center;
	padding-top:107px;
	background-color: #fff;
	.under-heading{
			font-size: 18px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			letter-spacing: normal;
			text-align: center;
			color: #0f1216;
			padding-top: 10px;
	}
	.table{
		max-width: 1166px;
		margin: 50px auto 107px auto;
		.line{
				padding : 22px 0;
				font-size: 0;
				font-weight: normal;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.39;
				letter-spacing: normal;
				color: #909090;
				cursor: pointer;
			&:first-of-type{
				.left{
					text-decoration: none;
				}
			}
			&.heading{

				color: #0f1216;
				cursor: default;
				*{
					font-size:20px;
				}
			}
			&:hover{
				color: #0f1216;
			}
			*{
				display: inline-block;
				width: 33%;
				font-size: 16px;
			}
			.left{
					text-align: left;
					text-decoration: underline;
			}
			.center{
				text-align: center;
			}
			.right{
				text-align: right;
			}
		}
	}

}
.pop-up-overlay{
	position: fixed;
	height: 100%;
	width: 100%;
	background-color: #0f1216e0;
	z-index: -999999999;
	opacity: 0;
	top: 0;
	left: 0;
	.close-x{
		width: 25px;
		height: 25px;
		position: absolute;
		cursor: pointer;
		transform: translatey(-50%);
		right: 13px;
		top: 25px;
		&:hover{
			div{
				background-color: #686867;

			}
		}
		div{
			transition: 0.3s;
			width: 100%;
			height: 2px;
			border-radius: 1px;
			background-color: #c1c1c1;
			position: absolute;
			top: 12px;
			left: 0;
			&:first-of-type{
				transform: rotate(-45deg) ;
			}
			&:last-of-type{
				transform: rotate(45deg);
			}
		}
	}
	&.active{
		opacity: 1;
		z-index: 999999999;
	}
	.pop-window{
			&.sent{
				z-index: -10;
				opacity: 0;
				transition: 0
			}
			z-index: 10;
			padding: 31px 50px 35px 50px;
			box-sizing: border-box;
			width: 349px;
			border-radius: 3px;
			background-color: #ffffff;
			box-shadow: 0 0 36px 0 rgba(0, 0, 0, 0.18);
			transition: 1s;
			position: absolute;
			left: 50%; top:50%;
			transform: translate(-50%, -50%);
			.heading{
					font-family: $Oranienbaum;
					display:block;
					font-size: 24px;
					font-weight: normal;
					font-style: normal;
					font-stretch: normal;
					line-height: 2.17;
					letter-spacing: normal;
					text-align: center;
					color: #0f1216;

			}
		.file_upload{
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-bottom: 16px;
			button{
				display: inline-block;
				padding: 0 35px;
				height: 30px;
				background-color: #4a90e2;
				color: #fff;
				border-radius: 3px;
				font-weight: 500;
				font-size: 12px;
			}
			div{
				font-size: 12px;
				font-weight: 500;
				font-style: normal;
				font-stretch: normal;
				line-height: 1.92;
				letter-spacing: normal;
				text-align: left;
				color: #0f1216;
				display: inline-block;
				padding-left:5px;
			}
			input{
				visibility: hidden;
				position: absolute;
			}
		}
	}
	.thank-you{
		width: 600px;
    background: white;
    padding: 30px 40px;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
		opacity: 0;
		transition: 1s;
		button{
			margin-top: 20px;
		}
		&.sent{
			opacity: 1;
			transition: 0
		}
	}
	.hide{
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}
}
@media only screen and (max-width: 1100px) {
	$margin: calc(100vw / 320 * 20);
	.about_block_5{
		padding: calc(100vw / 320 * 75) 0;
		h3{
		font-size:calc(100vw / 320 * 36);
		line-height: 1;
		}
		.under-heading{
		font-size:calc(100vw / 320 * 12);
		line-height: calc(100vw / 320 * 28);
		}
		.table{
		max-width: none;
		margin: 0 calc(100vw / 320 * 10);
			.line{
				display: flex;
				padding: calc(100vw / 320 * 12) calc(100vw / 320 * 10);
				height: calc(100vw / 320 * 32);
				align-items: center;
				&.heading{
				*{
					font-size:calc(100vw / 320 * 12);
				}
				}
				*{
				font-size:calc(100vw / 320 * 12);
				}
				.left{
				color: #0f1216;
				width: 50%;
				}
				.center{
				span{
					display: none;
				}
				}
				&:nth-of-type(even){
				background-color: #f5f5f5;
				}
			}
		}
		.pop-up-overlay{
    box-sizing: border-box;
		overflow: scroll;
    .pop-window{
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      width: 100%;
      height: 100vh;
      overflow: scroll;
      padding: 31px $margin 35px $margin;
      display: flex;
      flex-direction: column;
      .heading{
        font-size: calc(100vw / 320 * 24);
        line-height: calc(100vw / 320 * 30);
      }
      .input-container{
        padding: calc(100vw / 320 * 52) 0 0 0;
        margin-bottom: 0;
        input{
          height: calc(100vw / 320 * 28);
          margin: 0;
        }
        span{
          top: calc(100vw / 320 * 52);
        }
        textarea{
          height:calc(100vw / 320 * 150);
          margin: 0;
          box-sizing: border-box;
        }
        .input-about {
          font-size: calc(100vw / 320 * 12);
          line-height: calc(100vw / 320 * 23);
        }

      }
      .file_upload{
				margin-top: calc(100vw / 320 * 30);
        button{
          height: calc(100vw / 320 * 32);
          width: 50%;
					padding: 0 calc(100vw / 320 * 20)
        }
        div{
          font-size: calc(100vw / 320 * 12);
          line-height: calc(100vw / 320 * 14);
        }
      }
      .gradient_blue{
				min-height: calc(100vw / 320 * 52);
        margin-top:auto;
      }
    }
		.thank-you{
			width: calc(100vw / 320* 300);
			padding: calc(100vw / 320* 30) calc(100vw / 320* 20);
			box-sizing: border-box;
			.heading44{
				font-size: calc(100vw / 320 * 23);
				line-height: calc(100vw / 320 *30);
			}
			.under{
				font-size: calc(100vw / 320 * 13);
				line-height: calc(100vw / 320 * 20);
			}
		}
  }

	}			
}
@media only screen and (max-width:1100px) and (min-width: 750px){
  .about_block_5{
      .table{
        .line{
          padding: 10px 20px;
          *{
            font-size: 17px;
          }
          .left{
            width: 33%;
            padding-right: 20px;
          }
        }
      }
  }
}
@media only screen and (max-width:1250px) and (min-width: 1101px) {
  .about_block_5 .table {
    padding: 0 50px;
  }
}
</style>
