<template>
  <div  id="vue-wordpress-app" >
    <menuComponent v-bind:page="'page'"
                v-bind:menuType="false" />
    <router-view :key="$route.path" />
  </div>
</template>

<script>

import menuComponent from '@/components/menuComponent'

export default {
  components:{
    menuComponent
  },
  data() {
    return {
      //site: this.$store.state.site
    }
  },
  computed: {
    //menu() {
      //return this.$store.getters.menu({ name: this.name })
    //}
  },
  methods: {
    updateScroll() {
      window.scroll(0,0)
    },

  }
}
</script>

<style lang='scss'>
$Oranienbaum: 'Oranienbaum', serif;
input:-webkit-autofill {
  background-color: transparent !important;
}
body,
html{
  padding: 0;
  margin: 0 auto;
  background: transparent;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "objektiv-mk2",sans-serif;
}
*{
  text-rendering: optimizeLegibility;
}
.gradient_blue{
  font-size: 12px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 2px;
  text-align: center;
  width: 247px;
  height: 46px;
  color: #ffffff;
  background-color: #4a90e2;
  font-family: "objektiv-mk2",sans-serif;
  position: relative;
  overflow: hidden;
  transition: 0.7s ease;
  text-transform: uppercase;
  border-radius: 4px;
  &:hover{
    box-shadow: 0 10px 23px -11px rgba(74, 144, 226, 0.66);
    background-color: #59A3FA;
  }
}
a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}
.loaded{
  display: none !important;
  width: 0;
  height: 0;
}
*:focus{
  outline: 0;
}
::selection{
  color: #927b40;
  background: #0f1216;
}
li{
  list-style: none;
}
p{
  margin: 0;
}
button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
}
h1,h2,h3,h4,h5,h6{
  font-family: $Oranienbaum;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  margin: 0;
  padding: 0;
}
.heading96{
 font-size: 96px;
 font-weight: normal;
 color: #0f1216;
 display: block;
 line-height: 100px;
}
.heading64{
 font-size: 64px;
 font-weight: 400;
 color: #ffffff;
 line-height: 62px;
}
.heading48{
 font-size: 48px;
 font-weight: 400;
 line-height: 1.08;
 color: #0f1216;
 text-align: center;
}
.heading44{
 font-size: 44px;
 font-weight: normal;
 color: #0f1216;
 display:  block;
 line-height: 52px;
}
.heading36{
 font-size: 36px;
 font-weight: normal;
 color: #0f1216;
}
.heading24{
   font-size: 24px;
   font-weight: normal;
   font-style: normal;
   font-stretch: normal;
   line-height: 1;
   letter-spacing: normal;
   text-align: center;
   color: #0f1216;
}
.more-group{
  width: fit-content;
  width: -moz-fit-content;
  padding-top: 46px;
  margin: 0 auto;
  .more-src{
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    color: #9b8755;
    transition: .5s;
    cursor: pointer;
    display: inline-block;
  }
  &:hover{
    .box{
      width:40px;
    }
  }
}
.shape{
  height: 7px;
  padding-top: 4px;
  margin: 0 auto;
  cursor:pointer;
  width:67px;
  .box{
    width:22px;
    height:5px;
    border: 1px solid #9b8755;
    border-radius: 2px;
    box-sizing:border-box;
    margin: -3px auto;
    transition: width .5s;
    transition-timing-function:cubic-bezier(.68,.11,.33,.73);
  }
  .line{
    border-top: 1px solid #9b8755;
    width: 67px;
    height:1px;
    box-sizing:border-box;
    margin: 2px auto;
  }
}
.text-and-arrow{
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 3.9px;
  color: #0f1216;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  span{
    padding-left:15px;
    &:before{
      display: inline-block;

      font-size: 10px;
      color: #9b8755;

    }
  }
  &:hover{
    span:before{
      -webkit-animation: bounce322 2s infinite;
      -o-animation: bounce322 2s infinite;
      animation: bounce322 2s infinite;
    }
  }
}
.author{
  float: right;
  transition: 1s;
  z-index: 10;
  display: flex;
  align-items: center;
  .photo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .about{
    padding-left: 10px;
    display: inline-block;
    vertical-align: super;
    transform: translateY(-4px);
    overflow: hidden;
    color: #ffffff;
    span{
      display: block;
    }
    .name{
      font-size: 10px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 19px;
      letter-spacing: normal;
      text-align: left;
      text-transform: capitalize;
    }
    .role{
      font-size: 8px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 13px;
      letter-spacing: normal;
      text-align: left;
      transition-delay: 0.3s;
    }
  }
}
.social-wrap{
  float:right;
  display: flex;
  align-items: center;
  a{
    svg{
      cursor:pointer;
      height: 12px;
      width: auto;
      fill: #ffffff;
      padding-left:22px;
      display: inline-block;
      transition: 1s;
      &:hover{
        fill:#4a90e2 !important;
      }
    }
    &:nth-of-type(2){
      svg{
        height: 13px;
      }
    }
    &:nth-of-type(3){
      svg{
        height: 13px;
      }
    }
  }
  span{
    cursor:pointer;
    font-size: 12px;
    color: #ffffff;
    padding-left:22px;
    padding-top: 10px;
    display: inline-block;
    transition: 1s;
    &:before{
      color: #ffffff;
      transition: .5s;
    }
    &:hover{
      color:#4a90e2 !important;

      &:before{
        color:#4a90e2 !important;
      }
    }
  }
}
.input-container{
  width:100%;
  height: fit-content;
  position:relative;
  overflow: hidden;
  margin-bottom: 25px;
  .input-about{
    position: absolute;
    top:25px;
    left:0;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    line-height: 14px;
    letter-spacing: normal;
    color: #0f1216;
    z-index: 5;
    transition:0.7s;
    span {
      font-size: 12px;
      color: #4a90e2;
      &.error{
        display: none;
        transition: 0s;
        font-size: 11px;
      }
    }
  }
  input,
  textarea{
    background-color: transparent;
    position: relative;
    z-index: 20;
    margin: 13px 0 0 0;
    padding: 0 1px;
    width: 100%;
    box-sizing: border-box;
    border: none;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    text-align: left;
    color: #0f1216;
    transition: 0.5s;
  }
  textarea {
    padding-top: 8px;
    resize: none;
    height: 135px;
  }
  input{
    height: 37px;
  }
  .graphic {
    fill:none;
    position: absolute;
    bottom:0;
    left: 0;
    stroke: #d5d5d5;
    pointer-events: none;
    -webkit-transition: -webkit-transform 0.7s, stroke 0.7s;
    transition: transform 0.7s, stroke 0.7s;
    -webkit-transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
    transition-timing-function: cubic-bezier(0, 0.25, 0.5, 1);
  }
  .int-input:focus ~ .input-about,
  .int-input.full ~ .input-about{
    color: #909090;
    transform: translateY(-22px);
    font-size: 12px;
    opacity: 0.9;
  }
  .int-input:focus ~ .graphic,
  .int-input.full ~ .graphic{
    stroke: #4a90e2;
    -webkit-transform: translateX(-66.6%);
    transform: translateX(-66.6%);
  }
  &.error{
    .int-input ~ .graphic{
      stroke: #CA3B3B;
    }
    .input-about{
      span.error{
        display: inline-block;
        color: #CA3B3B !important;
        margin-left: 5px;
      }
    }
  }

}
@media only screen and (max-width: 1100px) {
  $margin: calc(100vw / 320 * 20);
  body{
    overflow-x: hidden;
    width: 100vw;
  }
  .heading48{
    font-size: calc(100vw / 320 * 24);
  }
  .gradient_blue{
    width: 100%;
    height: calc(100vw / 320 * 52);
    font-size: calc(100vw / 320 * 13);
    letter-spacing: 1px;
  }
  .small-text-classic{
    font-size: calc(100vw / 320 * 12);
    line-height: calc(100vw / 320 * 19);
  }
}

@media only screen and (max-width:1100px) and (min-width: 750px){
  .gradient_blue{
    width: 400px;
    height: 78px;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .heading48{
    font-size: 48px;
  }
  .text-and-arrow{
    display: flex;
    align-items: center;
    font-size: 20px;
    svg{
      width: 25px;
      height: auto;
    }
  }
}
</style>

